<div class="product" data-aos="zoom-in" data-aos-delay="0">
  <div class="product-image mb-md-3">
    <div class="product-badge badge badge-warning">-{{product.product_prices[0].discount}}%</div>
    <a (click)="setDetailProduct()">
      <div class="product-swap-image">
        <img class="img-fluid product-swap-image-front" src="{{url + product.product_images[0].image_url}}" alt="product" style="height: 320px !important; width: fit-content !important;"/>
        <img class="img-fluid" src="{{url + (product.product_images[1] ? product.product_images[1].image_url : product.product_images[0].image_url)}}" style="height: 320px !important; width: fit-content !important;" alt="product"/>
      </div></a>
    <div class="product-hover-overlay"><a class="text-dark text-sm" (click)="childSetQuickViewProduct()">
        <svg class="svg-icon text-hover-primary svg-icon-heavy d-sm-none">
          <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#retail-bag-1"> </use>
        </svg><span class="d-none d-sm-inline">Add to cart</span></a>
      <div>
        <!-- <a class="text-dark text-hover-primary mr-2" href="#">
          <svg class="svg-icon svg-icon-heavy">
            <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#heart-1"> </use>
          </svg></a> -->
          <a class="text-dark text-hover-primary text-decoration-none" (click)="childSetQuickViewProduct()">
          <svg class="svg-icon svg-icon-heavy">
            <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#expand-1"> </use>
          </svg></a></div>
    </div>
  </div>
  <div class="position-relative">
    <h4 class="text-base mb-1 text-truncate">
      <a class="text-dark" (click)="setDetailProduct()">{{product.title}}</a>
    </h4>
    <span class="text-gray-500 text-sm">Ksh {{((product.product_prices[0].price/100)*(100-product.product_prices[0].discount)).toFixed(2)}}</span> &nbsp;&nbsp;&nbsp;<span class="text-gray-500 text-sm"><del>Ksh {{product.product_prices[0].price}} </del>
    </span>
    
  </div>
</div>