<section class="hero py-6">
    <div class="container">
      <!-- Breadcrumbs -->
      <ol class="breadcrumb pl-0 ">
        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
        <li class="breadcrumb-item active">Shopping cart        </li>
      </ol>
      <!-- Hero Content-->
      <div class="hero-content">
        <h1 class="hero-heading">Shopping cart</h1>
        <div><p class="lead text-muted">You have {{cartItems.length}} item(s) in your cart.</p> <p class="lead text-muted">To checkout, click here <a routerLink="checkout">Checkout</a>.</p></div>
      </div>
    </div>
  </section>
  <!-- Shopping Cart Section-->
  <section>
    <div class="container">
      <div class="row mb-5"> 
        <div class="col-lg-8 pr-xl-5">
          <div class="cart mb-5">
            <div class="cart-body">
              <!-- Product-->
              <div *ngFor="let product of cartItems; let i=index" class="cart-item">
                <div class="row d-flex align-items-center text-left text-md-center">
                  <div class="col-12 col-md-5"><a class="cart-remove close mt-3 d-md-none" href="#"><i class="fa fa-times">                                                                                   </i></a>
                    <div class="d-flex align-items-center"><a href="detail-1.html"><img class="cart-item-img" src="{{url + product.product_images[0].image_url}}" alt="..."></a>
                      <div class="cart-title text-left"><a class="text-dark link-animated" href="detail-1.html"><strong>{{product.title}}</strong></a><br>
                        <!-- <span class="text-muted text-sm">Size: Large</span><br>
                        <span class="text-muted text-sm">Colour: Green</span> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-7 mt-4 mt-md-0">
                    <div class="row align-items-center">
                      <div class="col-md-3">
                        <div class="row">
                          <div class="col-6 d-md-none text-muted">Price per item</div>
                          <div class="col-6 col-md-12 text-right text-md-center">Ksh {{((product.product_prices[0].price/100)*(100-product.product_prices[0].discount)).toFixed(2)}}</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row align-items-center">
                          <div class="d-md-none col-7 col-sm-9 text-muted">Quantity</div>
                          <div class="col-5 col-sm-3 col-md-12">
                            <div class="d-flex align-items-center">
                              <div class="btn btn-items btn-items-decrease" (click)="handleReduceItemCartProduct(i)">-</div>
                              <input class="form-control text-center border-0 border-md input-items" type="text" value="{{product.quantity}}">
                              <div class="btn btn-items btn-items-increase" (click)="handleAddToCartProduct(product)">+</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3"> 
                        <div class="row">
                          <div class="col-6 d-md-none text-muted">Total price </div>
                          <div class="col-6 col-md-12 text-right text-md-center">KSh {{(((product.product_prices[0].price/100)*(100-product.product_prices[0].discount))*product.quantity).toFixed(2)}}</div>
                        </div>
                      </div>
                      <div class="col-2 d-none d-md-block text-center"><a class="cart-remove text-muted" (click)="handleRemoveFromCartProduct(i)"> 
                          <svg class="svg-icon w-2rem h-2rem svg-icon-light">
                            <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#close-1"> </use>
                          </svg></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between flex-column flex-lg-row mb-5 mb-lg-0"><a class="btn btn-link text-muted" href="category-full.html"><i class="fa fa-chevron-left"></i> Continue Shopping</a></div>
        </div>
        <div class="col-lg-4">
          <div class="card mb-5"> 
            <div class="card-header">
              <h6 class="mb-0">Order Summary</h6>
            </div>
            <div class="card-body py-4">
              <p class="text-muted text-sm">Shipping and additional costs are calculated based on values you have entered.</p>
              <table class="table card-text">
                <tr>
                  <th class="py-4">Order Subtotal </th>
                  <td class="py-4 text-right text-muted">{{cartService.itemsTotal}}</td>
                </tr>
                <!-- <tr>
                  <th class="py-4">Shipping and handling</th>
                  <td class="py-4 text-right text-muted"> $10.00</td>
                </tr> -->
                <!-- <tr>
                  <th class="py-4">Tax</th>
                  <td class="py-4 text-right text-muted">$0.00</td>
                </tr> -->
                <tr>
                  <th class="pt-4">Total</th>
                  <td class="pt-4 text-right h3 font-weight-normal">{{cartService.itemsTotal}}</td>
                </tr>
              </table>
              <button class="btn btn-dark btn-block btn-lg mb-5" [disabled]="cartItems.length==0" routerLink="/checkout">Proceed to checkout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>