<div *ngIf="product">
<section>
  <div class="container pt-5">
    <!-- <div class="d-block" id="addToCartAlert">
      <div class="mb-4 mb-lg-5 alert alert-success" role="alert">
        <div class="d-flex align-items-center pr-3">
          <svg class="svg-icon d-none d-sm-block w-3rem h-3rem svg-icon-light flex-shrink-0 mr-3">
            <use xlink:href="#checked-circle-1"> </use>
          </svg>
          <p class="mb-0">{{product.title}} have been added to your cart. <br class="d-inline-block d-lg-none">
            <a routerLink="/cart" class="text-reset text-decoration-underline ml-lg-3">View Cart</a></p>
        </div>
        <button class="close close-absolute close-centered opacity-10 text-inherit" type="button" data-dismiss="alert" aria-label="Close">
          <svg class="svg-icon w-2rem h-2rem">
            <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#close-1"> </use>
          </svg>
        </button>
      </div>
    </div> -->
    <ul class="breadcrumb undefined">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active"><a href="category-full.html">{{product.category.title}}</a></li>
    </ul>
    <div class="row">
      <div class="col-lg-7 order-2 order-lg-1">
        <div class="detail-carousel">
          <div class="product-badge badge badge-warning">Sale</div>
          <div class="swiper-container detail-slider photoswipe-gallery" id="detailSlider">
            <!-- Additional required wrapper-->
            <div class="swiper-wrapper">
              <!-- Slides-->
              <div class="swiper-slide" *ngFor="let product_image of product.product_images"> 
                <a class="btn btn-photoswipe" href="{{url + product_image.image_url}}" data-caption="Push-up Jeans 1 - Caption text" data-toggle="photoswipe" data-width="1200" data-height="1200"> 
                  <svg class="svg-icon svg-icon-heavy">
                    <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#expand-1"> </use>
                  </svg></a>
                
                <div data-toggle="zoom" [attr.data-image]="url + product_image.image_url"><img class="img-fluid" src="{{url + product_image.image_url}}" alt="Push-up Jeans 1"></div>
              </div>
             
            </div>
          </div>
        </div>
        <div class="swiper-thumbs" data-swiper="#detailSlider">
          <button *ngFor="let product_image of product.product_images; let i=index" class="swiper-thumb-item detail-thumb-item mb-3 {{i==0? 'active' : ''}}"><img class="img-fluid" src="{{url + product_image.image_url}}" alt="Push-up Jeans 0"></button>
          
        </div>
      </div>
      <div class="col-lg-5 pl-lg-4 order-1 order-lg-2">
        <h1 class="mb-4">{{product.title}}</h1>
        <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
          <ul class="list-inline mb-2 mb-sm-0">
            <li class="list-inline-item h4 font-weight-light mb-0">Ksh {{((product.product_prices[0].price/100)*(100-product.product_prices[0].discount)).toFixed(2)}}</li>
            <li class="list-inline-item text-muted font-weight-light"> 
              <del>Ksh {{product.product_prices[0].price}}</del>
            </li>
          </ul>
          <div class="d-flex align-items-center text-sm">
            <ul class="list-inline mr-2 mb-0">
              <li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
              <li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
              <li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
              <li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
              <li class="list-inline-item mr-0"><i class="fa fa-star text-gray-300"></i></li>
            </ul><span class="text-muted text-uppercase">25 reviews</span>
          </div>
        </div>
        <p class="mb-4 text-muted">{{product.description}}</p>
        <form id="buyForm" action="#">
          <div class="row">
            <div class="col-sm-6 col-lg-12 detail-option mb-4">
              <h6 class="detail-option-heading">Size <span>(required)</span></h6>
              <select class="selectpicker" name="size" data-style="btn-selectpicker">
                <ng-container *ngIf="product">
                  <option  *ngFor="let size of product.product_sizes" value="{{size.id}}">{{size.size}}</option>
                  </ng-container>
              </select>
            </div>
            
          </div>
          <div class="input-group w-100 mb-4">
            <input class="form-control form-control-lg detail-quantity" name="items" type="number" [(ngModel)]="quantity">
            <div class="input-group-append flex-grow-1">
              <button class="btn btn-dark btn-block" (click)="handleAddToCart()"> <i class="fa fa-shopping-cart mr-2"></i>Add to Cart</button>
            </div>
          </div>
          <div class="row mb-4">
            <!-- <div class="col-6"><a href="#"> <i class="far fa-heart mr-2"></i>Add to wishlist </a></div> -->
            <div class="col-6 text-right">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-2"><a class="text-dark text-hover-primary" href="#"><i class="fab fa-facebook-f"> </i></a></li>
                <li class="list-inline-item"><a class="text-dark text-hover-primary" href="#"><i class="fab fa-twitter"> </i></a></li>
              </ul>
            </div>
          </div>
          <ul class="list-unstyled">
            <li><strong>Category:</strong> <a class="text-muted" href="#">{{product.category.title}}</a></li>
            <!-- <li><strong>Tags:</strong> <a class="text-muted" href="#">Leisure</a>, <a class="text-muted" href="#">Elegant</a></li> -->
          </ul>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="mt-5">
  <div class="container">
    <ul class="nav nav-tabs flex-column flex-sm-row" role="tablist">
      <li class="nav-item"><a class="nav-link detail-nav-link active" data-toggle="tab" href="#description" role="tab">Description</a></li>
      <li class="nav-item"><a class="nav-link detail-nav-link" data-toggle="tab" href="#additional-information" role="tab">Additional Information</a></li>
      <li class="nav-item"><a class="nav-link detail-nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews</a></li>
    </ul>
    <div class="tab-content py-4">
      <div class="tab-pane fade show active px-3" id="description" role="tabpanel">
        <div class="row">
          <div class="col-md-7">
            <h5>About</h5>
            <p class="text-muted">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
            <p class="text-muted">He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before.</p>
            <h5>You will love</h5>
            <ul class="text-muted"> 
              <li>He must have tried it a hundred times</li>
              <li>shut his eyes so that he wouldn't have to look</li>
              <li>at the floundering legs, and only stopped</li>
            </ul>
          </div>
          <div class="col-md-5"><img class="img-fluid" src="{{url + product.product_images[0].image_url}}" alt=""></div>
        </div>
      </div>
      <div class="fade tab-pane" id="additional-information" role="tabpanel">
        <div class="row">
          <div class="col-lg-6">
            <table class="table text-sm">
              <tbody>
                <tr>
                  <th class="font-weight-normal border-0">Product #</th>
                  <td class="text-muted border-0">Lorem ipsum dolor sit amet</td>
                </tr>
                <tr>
                  <th class="font-weight-normal ">Available packaging</th>
                  <td class="text-muted ">LOLDuis aute irure dolor in reprehenderit</td>
                </tr>
                <tr>
                  <th class="font-weight-normal ">Weight</th>
                  <td class="text-muted ">dolor sit amet</td>
                </tr>
                <tr>
                  <th class="font-weight-normal ">Sunt in culpa qui</th>
                  <td class="text-muted ">Lorem ipsum dolor sit amet</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-6">
            <table class="table text-sm">
              <tbody>
                <tr>
                  <th class="font-weight-normal border-0">Weight</th>
                  <td class="text-muted border-0">dolor sit amet                           </td>
                </tr>
                <tr>
                  <th class="font-weight-normal ">Sunt in culpa qui</th>
                  <td class="text-muted ">Lorem ipsum dolor sit amet                           </td>
                </tr>
                <tr>
                  <th class="font-weight-normal ">Product #</th>
                  <td class="text-muted ">Lorem ipsum dolor sit amet                           </td>
                </tr>
                <tr>
                  <th class="font-weight-normal ">Available packaging</th>
                  <td class="text-muted ">LOLDuis aute irure dolor in reprehenderit                           </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="reviews" role="tabpanel">
        <div class="row mb-5">
          <div class="col-lg-10 col-xl-9">
            <div class="media review">
              <div class="text-center mr-4 mr-xl-5"><img class="review-image" src="assets/img/avatar/person-1.jpg" alt="Han Solo"><span class="text-uppercase text-muted">Dec 2018</span></div>
              <div class="media-body">
                <h5 class="mt-2 mb-1">Han Solo</h5>
                <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i>
                </div>
                <p class="text-muted">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections     </p>
              </div>
            </div>
            <div class="media review">
              <div class="text-center mr-4 mr-xl-5"><img class="review-image" src="assets/img/avatar/person-2.jpg" alt="Luke Skywalker"><span class="text-uppercase text-muted">Dec 2018</span></div>
              <div class="media-body">
                <h5 class="mt-2 mb-1">Luke Skywalker</h5>
                <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-gray-200"></i>
                </div>
                <p class="text-muted">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &quot;What's happened to me?&quot; he thought. It wasn't a dream.     </p>
              </div>
            </div>
            <div class="media review">
              <div class="text-center mr-4 mr-xl-5"><img class="review-image" src="assets/img/avatar/person-3.jpg" alt="Princess Leia"><span class="text-uppercase text-muted">Dec 2018</span></div>
              <div class="media-body">
                <h5 class="mt-2 mb-1">Princess Leia</h5>
                <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-gray-200"></i><i class="fa fa-xs fa-star text-gray-200"></i>
                </div>
                <p class="text-muted">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table.     </p>
              </div>
            </div>
            <div class="media review">
              <div class="text-center mr-4 mr-xl-5"><img class="review-image" src="assets/img/avatar/person-4.jpg" alt="Jabba Hut"><span class="text-uppercase text-muted">Dec 2018</span></div>
              <div class="media-body">
                <h5 class="mt-2 mb-1">Jabba Hut</h5>
                <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i>
                </div>
                <p class="text-muted">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.     </p>
              </div>
            </div>
            <div class="py-5 px-3">
              <h5 class="mb-4">Leave a review</h5>
              <form class="mb-4 form" id="reviewForm" method="post" action="https://demo.bootstrapious.com/varkala/1-2/contact.php">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="form-label" for="name">Your name *</label>
                      <input class="form-control" type="text" name="name" id="name" placeholder="Enter your name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="form-label" for="rating">Your rating *</label>
                      <select class="custom-select focus-shadow-0" name="rating" id="rating">
                        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733; (5/5)</option>
                        <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734; (4/5)</option>
                        <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734; (3/5)</option>
                        <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734; (2/5)</option>
                        <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734; (1/5)</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label" for="emailReview">Your email *</label>
                  <input class="form-control" type="email" name="email" id="emailReview" placeholder="Enter your  email" required="required">
                </div>
                <div class="form-group">
                  <label class="form-label" for="reviewReview">Review text *</label>
                  <textarea class="form-control" rows="4" name="review" id="reviewReview" placeholder="Enter your review" required="required"></textarea>
                </div>
                <button class="btn btn-outline-dark" type="submit">Post review</button>
              </form>
              <p class="text-muted text-sm"><span class="badge badge-info">Note</span> This form shows usage of the classic Bootstrap form controls, not their underlined variants. You can choose whichever variant you want.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <h5 class="mb-4">You might also like these</h5>
    <div class="position-relative">
      <!-- Similar Items Slider-->
      <div class="swiper-container similar-slider">
        <div class="swiper-wrapper pb-5">
          <!-- similar item slide-->

          <div class="swiper-slide" *ngFor="let catproduct of categoryProducts ; let i=index">
            <!-- product-->
            <div>
              <div class="product">
                <div class="product-image mb-md-3">
                  <a (click)="setDetailProduct(catproduct)">
                    <div class="product-swap-image">
                      <img class="img-fluid product-swap-image-front" src="{{url + catproduct.product_images[0].image_url}}" alt="product" style="height: 350px !important; width: fit-content !important;"/>
                      <img class="img-fluid" src="{{url + (catproduct.product_images[1] ? catproduct.product_images[1].image_url : catproduct.product_images[0].image_url)}}" style="height: 350px !important; width: fit-content !important;" alt="product"/>
                    </div>
                  </a>
                  <div class="product-hover-overlay">
                    <a class="text-dark text-sm" (click)="handleAddToCartProduct(catproduct)">
                      <svg class="svg-icon text-hover-primary svg-icon-heavy d-sm-none">
                        <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#retail-bag-1"> </use>
                      </svg><span class="d-none d-sm-inline">Add to cart</span></a>
                    <div>
                      <!-- <a class="text-dark text-hover-primary mr-2" href="#">
                        <svg class="svg-icon svg-icon-heavy">
                          <use xlink:href="#heart-1"> </use>
                        </svg>
                      </a> -->
                      <a class="text-dark text-hover-primary text-decoration-none" (click)="setQuickViewProduct(catproduct)" data-toggle="modal" data-target="#quickView">
                        <svg class="svg-icon svg-icon-heavy">
                          <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#expand-1"> </use>
                        </svg></a></div>
                  </div>
                </div>
                <div class="position-relative">
                  <h3 class="text-base mb-1"><a class="text-dark" (click)="setDetailProduct(catproduct)">{{catproduct.title}}</a></h3>
                  <span class="text-gray-500 text-sm">Ksh {{((catproduct.product_prices[0].price/100)*(100-catproduct.product_prices[0].discount)).toFixed(2)}}</span> &nbsp;&nbsp;&nbsp;<span class="text-gray-500 text-sm"><del>Ksh {{catproduct.product_prices[0].price}} </del>
                  </span>
                </div>
              </div>
            </div>
            <!-- /product   -->
          </div>
        </div>
        <div class="swiper-pagination">   </div>
      </div>
      <div class="swiper-outside-nav align-with-products">
        <div class="swiper-button-prev" id="similarPrev"></div>
        <div class="swiper-button-next" id="similarNext"></div>
      </div>
    </div>
  </div>
</section>

<app-quickview [url]="url" [quickviewproduct]="quickviewproduct"></app-quickview>

<script>
  var options = {
      navbarExpandPx: 992
  }
  
</script>
<!-- Main Theme files-->
<script src="js/sliders-init.1db6fb07.js"></script>
<script src="js/theme.fe2c17cd.js"></script>
<!-- Root element of PhotoSwipe. Must have class pswp.-->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <!--
  Background of PhotoSwipe.
  It's a separate element as animating opacity is faster than rgba().
  -->
  <div class="pswp__bg"></div>
  <!-- Slides wrapper with overflow:hidden.-->
  <div class="pswp__scroll-wrap">
    <!--
    Container that holds slides.
    PhotoSwipe keeps only 3 of them in the DOM to save memory.
    Don't modify these 3 pswp__item elements, data is added later on.
    -->
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.-->
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <!-- Controls are self-explanatory. Order can be changed.-->
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <button class="pswp__button pswp__button--share" title="Share"></button>
        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
        <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR-->
        <!-- element will get class pswp__preloader--active when preloader is running-->
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
      <div class="pswp__caption">
        <div class="pswp__caption__center text-center"></div>
      </div>
    </div>
  </div>
</div>
</div>