<div class="container-fluid container-fluid-px py-3">
  <div class="row">
    <!-- Grid -->
    <div class="products-grid">
      <!-- Hero Content-->
      <div class="hero-content pb-5">
        <h1>{{header}}</h1>
        <div class="row">   
          <div class="col-xl-8"><p class="lead text-muted">{{headerdesc}}</p>                </div>
        </div>
      </div>
      <!-- Breadcrumbs -->
      <ol class="breadcrumb undefined">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Shop                                   </li>
      </ol>
      <header class="product-grid-header">
        <div class="mr-3 mb-3">
           Browse <strong> </strong> <strong>{{productsData.length}} </strong>products</div>
        <div class="mr-3 mb-3"><span class="mr-2">Show</span>
          <!-- <a class="product-grid-header-show active" href="#" (click)="displayNo($event,12)">12    </a> -->
          <a class="product-grid-header-show " href="#" (click)="displayNo($event,24)">24    </a>
          <!-- <a class="product-grid-header-show " (click)="displayNo('all')">All    </a> -->
        </div>
        <div class="mb-3 d-flex align-items-center"><span class="d-inline-block mr-2">Sort by</span>
          <select class="selectpicker" name="sort" id="form_sort" data-style="btn-selectpicker border-0" title="">
            <option value="sortBy_0">Default     </option>
            <!-- <option value="sortBy_1">Popularity     </option>
            <option value="sortBy_2">Rating     </option> -->
            <!-- <option value="sortBy_3">Newest first     </option> -->
          </select>
        </div>
      </header>
      <div class="row">
        <!-- product-->
        <div class="col-xl-3 col-lg-4 col-6" *ngFor="let product of productsData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <app-product-item [product]="product" [url]="url" (setQuickViewProduct)="setQuickViewProduct(product)" ></app-product-item>
        </div>
        <!-- /product   -->
        <app-quickview [url]="url" [quickviewproduct]="quickviewproduct"></app-quickview>
      </div>
      <nav class="d-flex justify-content-center mb-5 mt-3" aria-label="page navigation">
        <ul class="pagination">
          <ngb-pagination [collectionSize]="productsData.length" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
        </ul>
      </nav>
    </div>
   
  </div>
</div>

