<div class="container-fluid container-fluid-px py-6">
    <div class="row">
      <!-- Grid -->
      <div class="products-grid col-xl-9 col-lg-8 order-lg-2">
        <!-- Hero Content-->
        <div class="hero-content pb-5">
          <h1>{{header}}</h1>
          <div class="row">   
            <div class="col-xl-8"><p class="lead text-muted">{{headerdesc}}</p>                </div>
          </div>
        </div>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb undefined">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Shop                                   </li>
        </ol>
        <header class="product-grid-header">
          <div class="mr-3 mb-3">
             Browse <strong> </strong> <strong>{{productsData.length}} </strong>products</div>
          <div class="mr-3 mb-3"><span class="mr-2">Show</span>
            <!-- <a class="product-grid-header-show active" href="#" (click)="displayNo($event,12)">12    </a> -->
            <a class="product-grid-header-show " href="#" (click)="displayNo($event,24)">24    </a>
            <!-- <a class="product-grid-header-show " (click)="displayNo('all')">All    </a> -->
          </div>
          <div class="mb-3 d-flex align-items-center"><span class="d-inline-block mr-2">Sort by</span>
            <select class="selectpicker" name="sort" id="form_sort" data-style="btn-selectpicker border-0" title="">
              <option value="sortBy_0">Default     </option>
              <!-- <option value="sortBy_1">Popularity     </option>
              <option value="sortBy_2">Rating     </option> -->
              <!-- <option value="sortBy_3">Newest first     </option> -->
            </select>
          </div>
        </header>
        <div class="row">
          <!-- product-->
          <div class="col-xl-3 col-sm-4 col-6" *ngFor="let product of productsData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <app-product-item [product]="product" [url]="url" (setQuickViewProduct)="setQuickViewProduct(product)" ></app-product-item>
          </div>
          <!-- /product   -->
          <app-quickview [url]="url" [quickviewproduct]="quickviewproduct"></app-quickview>
        </div>
        <nav class="d-flex justify-content-center mb-5 mt-3" aria-label="page navigation">
          <ul class="pagination">
            <ngb-pagination [collectionSize]="productsData.length" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
          </ul>
        </nav>
      </div>
      <!-- Sidebar-->
      <div class="sidebar col-xl-3 col-lg-4 pr-xl-5 order-lg-1">
        <div class="sidebar-block px-3 px-lg-0"><a class="d-lg-none block-toggler" data-toggle="collapse" href="#categoriesMenu" aria-expanded="false" aria-controls="categoriesMenu">Product Categories<span class="block-toggler-icon"></span></a>
          <div class="expand-lg collapse" id="categoriesMenu" role="menu">
            <h5 class="sidebar-heading d-none d-lg-block">Category  </h5>
            <div class="sidebar-icon-menu mt-4 mt-lg-0">
              
              <div class="sidebar-icon-menu-item" data-toggle="collapse" data-target="#subcategories_1" aria-controls="subcategories_1" role="menuitem"> 
                <div class="d-flex align-items-center">
                  <svg class="svg-icon sidebar-icon">
                    <use xlink:href="#suit-1"> </use>
                  </svg><a class="sidebar-icon-menu-link font-weight-bold mr-2" href="#" (click)="filterNone($event)">All</a>
                </div>
              </div>
  
              <div *ngIf="categoriesData">
              <div *ngFor="let category of categoriesData.children let i=index" 
              class="sidebar-icon-menu-item" [class.active]="i==0" data-toggle="collapse"
              [attr.data-target]="'#subcategories_'+i" aria-expanded [attr.aria-controls]="'subcategories_'+i" role="menuitem" > 
                <div class="d-flex align-items-center">
                  <svg class="svg-icon sidebar-icon">
                    <use xlink:href="#trousers-1"> </use>
                  </svg>
                  <a class="sidebar-icon-menu-link font-weight-bold mr-2" href="#" (click)="filter($event, category.cat_id, category)">
                    {{category.label}}
                  </a>
                  <span class="sidebar-icon-menu-count"> </span>
                </div>
                <div class="collapse" [class.show]="i==0" id="subcategories_{{i}}">
                  <ul *ngIf="category.children" class="sidebar-icon-menu sidebar-icon-submenu">
                    <li *ngFor="let child of category.children" class="sidebar-icon-submenu-item"><a class="sidebar-icon-submenu-link link-animated link-animated-light" href="#" (click)="filter($event, child.cat_id, child)">{{child.label}}   </a></li>
                  </ul>
                </div>
              </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="sidebar-block px-3 px-lg-0"><a class="d-lg-none block-toggler" data-toggle="collapse" href="#priceFilterMenu" aria-expanded="false" aria-controls="priceFilterMenu">Filter by price<span class="block-toggler-icon"></span></a>
          <div class="expand-lg collapse" id="priceFilterMenu">
            <h5 class="sidebar-heading d-none d-lg-block">Price  </h5>
            <div class="mt-4 mt-lg-0" id="slider-snap"> </div>
            <div class="nouislider-values">
              <div class="min">From KSh<span id="slider-snap-value-lower"></span></div>
              <div class="max">To KSh<span id="slider-snap-value-upper"></span></div>
              <input [(ngModel)]="priceFrom" (change)="filterAll()" class="slider-snap-input" type="hidden" name="pricefrom" id="slider-snap-input-lower" value="100">
              <input [(ngModel)]="priceTo" (change)="filterAll()" class="slider-snap-input" type="hidden" name="priceto" id="slider-snap-input-upper" value="200000">
            </div>
          </div>
        </div>
        <div class="sidebar-block px-3 px-lg-0"><a class="d-lg-none block-toggler" data-toggle="collapse" aria-expanded="true" aria-controls="brandFilterMenu">Filter by brand<span class="block-toggler-icon"></span></a>
          <!-- Brand filter menu - this menu has .show class, so is expanded by default-->
          <div class="expand-lg collapse show" id="brandFilterMenu">
            <h5 class="sidebar-heading d-none d-lg-block">Brands </h5>
            <form class="mt-4 mt-lg-0" action="#"> 
              <div class="form-group mb-1" *ngFor="let brand of brandsData; let i=index">
                <div class="custom-control custom-checkbox" >
                  <input class="custom-control-input" id="brand{{i}}" type="checkbox" name="clothes-brand" (change)="onCheckBrandChange(brand.id, $event.target.checked)" [checked]="isItemBrandChecked(brand.id)">
                  <label class="custom-control-label" for="brand{{i}}">{{brand.name}}</label>
                </div>
              </div>
              
            </form>
          </div>
        </div>
        <div class="sidebar-block px-3 px-lg-0"> <a class="d-lg-none block-toggler" data-toggle="collapse" aria-expanded="false" aria-controls="sizeFilterMenu">Filter by size<span class="block-toggler-icon"></span></a>
          <!-- Size filter menu-->
          <div class="expand-lg collapse" id="sizeFilterMenu"> 
            <h5 class="sidebar-heading d-none d-lg-block">Size </h5>
            <form class="mt-4 mt-lg-0" action="#">  
              <div class="form-group mb-1" *ngFor="let size of sizesData; let i=index">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="size{{i}}" type="checkbox" name="size" (change)="onCheckSizeChange(size.id, $event.target.checked)" [checked]="isItemSizeChecked(size.id)">
                  <label class="custom-control-label" for="size{{i}}">{{size.size}}</label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="sidebar-block px-3 px-lg-0"><a class="d-lg-none block-toggler" data-toggle="collapse" aria-expanded="false" aria-controls="colourFilterMenu">Filter by colour<span class="block-toggler-icon"></span></a>
          <!-- Size filter menu-->
          <div class="expand-lg collapse" id="colourFilterMenu">
            <h5 class="sidebar-heading d-none d-lg-block">Colour </h5>
            <div class="mt-4 mt-lg-0"> 
              <ul class="list-inline mb-0 colours-wrapper">
                <li class="list-inline-item" *ngFor="let color of colorsData; let i=index">
                  <label class="btn-colour" [class.active]="isItemChecked(color.id)" id ="btn_colour_sidebar_{{i}}" for="colour_sidebar_{{i}}" [style.background-color]="color.color" data-allow-multiple> </label>
                  <input class="input-invisible" type="checkbox" name="colour" value="{{i}}" id="colour_sidebar_{{i}}" (change)="onCheckChange(color.id, $event.target.checked)" [checked]="isItemChecked(color.id)">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /Sidebar end-->
    </div>
  </div>
  
  