<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [formGroup]="form">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label class="text-gray">First Name</label>
          <input formControlName="first_name" class="form-control" type="text">
          <small class="text-danger" *ngIf="form.get('first_name').touched && form.get('first_name').hasError('required')">Required
            Field</small>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="text-gray">Last Name</label>
            <input formControlName="last_name" class="form-control" type="text">
            <small class="text-danger" *ngIf="form.get('last_name').touched && form.get('last_name').hasError('required')">Required
              Field</small>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label class="text-gray">Email</label>
          <input formControlName="email" class="form-control" type="email">
          <small class="text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('required')">Required
            Field</small>
        </div>
      </div>
    </div>
    <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->
      <div class="form-group">
        <input type="password" formControlName="password" placeholder="Password" class="form-control" required 
         
        />
        <div *ngIf="form.get('password').touched&&form.get('password').invalid" class="alert alert-danger">
          <div *ngIf="form.get('password').hasError('required')"> Password is required. </div>
          <div *ngIf="form.get('password').hasError('pattern')"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div>
        </div>
       </div>
       
       <div class="form-group">
        <input type="password" formControlName="password_confirmation" placeholder="Confirm Password" class="form-control" required  pattern="{{ form.get('password_confirmation').value }}" />
        <div *ngIf="form.get('password_confirmation').touched&&form.get('password_confirmation').invalid" class="alert alert-danger">
            <div *ngIf="form.get('password_confirmation').hasError('required')"> Password is required. </div>
            <div *ngIf="form.get('password_confirmation').hasError('pattern')">Confirm Password does not match with password.</div>
          </div>
       </div>
    <div class="row">
      <div class="col-sm-12 offset-1">
        <div *ngIf="fetching" class="spinner-grow mr-3 text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        <div formArrayName="roles" *ngFor="let role of rolesFromArray.controls; let i = index" class="mr-2 mb-1 form-group custom-control custom-switch row">
          <input [formControlName]="i" type="checkbox" class="form-control custom-control-input" id="customSwitch{{i}}">
          <label class="custom-control-label" for="customSwitch{{i}}">
          </label>
          <span class="switch-label">{{rolesData[i].name}}</span>
        </div>
        <div class="alert-danger col-sm-8" *ngIf="form.get('roles').touched && !form.controls.roles">At least one role must be selected</div>
      </div>
    </div>
    
  <div class="row">
  <div class="col-md-12">
  
  
    <div *ngIf="loading" class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
    <div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
      <div *ngFor="let err of errorMessages">{{err}}</div>
    </div>
  </div>
    <div class="modal-footer col-md-12">
  
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
      <button *ngIf="!formData" [disabled]="!form.valid" type="button" class="btn  btn-md btn-primary" (click)="submitData()">Save Record</button>
      <button *ngIf="formData"  type="button" class="btn  btn-md btn-success" (click)="saveChanges()">Save Changes</button>
  
    </div>
    </div>