<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-left mb-0">Brands List</h2>
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-2.html">Home</a>
                </li>
                <li class="breadcrumb-item"><a href="#">Data List</a>
                </li>
                <li class="breadcrumb-item active">Brands
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
        <div class="form-group breadcrum-right">
          <div class="dropdown">
            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body"><!-- Data list view starts -->
<section id="data-thumb-view" class="data-thumb-view-header">
<div class="action-btns d-none">
<div class="btn-dropdown mr-1 mb-1">
  <div class="btn-group dropdown actions-dropodown">
    <button type="button" class="btn btn-white px-1 py-1 dropdown-toggle waves-effect waves-light"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#"><i class="feather icon-trash"></i>Delete</a>
      <a class="dropdown-item" href="#"><i class="feather icon-archive"></i>Archive</a>
      <a class="dropdown-item" href="#"><i class="feather icon-file"></i>Print</a>
      <a class="dropdown-item" href="#"><i class="feather icon-save"></i>Another Action</a>
    </div>
  </div>
</div>
</div>
<!-- dataTable starts -->
<p-tree [value]="categories" layout="horizontal" >
  <ng-template let-node  pTemplate="default">
    
        <button class="btn btn-primary dropdown-toggle mr-2" type="button" id="dropdownMenuButton5"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{node.label}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
          <a class="dropdown-item" (click)="openModal(node.cat_id)">Add Category</a>
          <a class="dropdown-item" (click)="toggleProductModal(node.cat_id)">Add Product</a>
          <!-- <a class="dropdown-item" href="#">View Products</a>
          <a class="dropdown-item" href="#">Delete Category</a> -->
        </div>
     
</ng-template>
</p-tree>
<!-- dataTable ends -->

<!-- add new sidebar starts -->
 <div class="add-new-data-sidebar">
<div class="overlay-bg" [ngClass]="{'show': showsidepanel}" (click)="toggleProductModal(null)"></div>
<div class="add-new-data" [formGroup]="form" [ngClass]="{'show': showsidepanel}">
  <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
    <div>
      <h4 class="text-uppercase">New Product</h4>
    </div>
    <div class="hide-data-sidebar" (click)="toggleProductModal(null)">
      <i class="feather icon-x"></i>
    </div>
  </div>
  <div class="data-items pb-3">
    <div class="data-fields px-2 mt-3">
      <div class="row">
        <div class="col-sm-12 data-field-col">
          <label for="data-name">Product Title*</label>
          <input formControlName="title" type="text" class="form-control" id="data-name">
          <small class="text-danger" *ngIf="form.get('title').touched && form.get('title').hasError('required')">Required
            Field</small>
        </div>
        <div class="col-sm-12 data-field-col">
          <label for="data-name">Product Code</label>
          <input formControlName="title" type="text" class="form-control" id="data-name">
        </div>
        <div class="col-sm-12 data-field-col">
          <fieldset class="form-group">
            <select formControlName="brand_id" class="form-control" id="basicSelect">
                <option value="">--Select Brand--</option>
                <option *ngFor="let brand of brands" value="{{brand.id}}">{{brand.name}}</option>
            </select>
            <small class="text-danger" *ngIf="form.get('brand_id').touched && form.get('brand_id').hasError('required')">Required
              Field</small>
          </fieldset>
        </div>
        <div class="col-sm-12 data-field-col">
          <label for="data-name">Description*</label>
          <textarea formControlName="description" type="text" class="form-control" id="data-name">
          </textarea>
          <small class="text-danger" *ngIf="form.get('title').touched && form.get('title').hasError('required')">Required
            Field</small>
        </div>
        <div class="col-sm-12 data-field-col">
          <label for="data-name">Price*</label>
          <input formControlName="price" type="text" class="form-control" id="data-name">
          <small class="text-danger" *ngIf="form.get('price').touched && form.get('price').hasError('required')">Required
            Field</small>
        </div>
        <div class="col-sm-12 data-field-col">
          <fieldset class="form-group">
            <select formControlName="discount_type_id" class="form-control" id="basicSelect">
                <option value="">--Select Discount Type--</option>
                <option *ngFor="let discount_type of discount_types" value="{{discount_type.id}}">{{discount_type.name}}</option>
            </select>
          </fieldset>
          </div>
        <div class="col-sm-12 data-field-col">
          <label for="data-name">Discount</label>
          <input formControlName="discount" type="text" class="form-control" id="data-name">
        </div>
        <div class="col-sm-12 data-field-col">
        <div class="custom-control custom-switch custom-switch-dark mb-1">
          <p class="mb-0">taxable</p>
          <input type="checkbox" formControlName="taxable" class="custom-control-input" id="customSwitch8">
          <label class="custom-control-label" for="customSwitch8"></label>
        </div>
        </div>
        
        <table>
        <tr formArrayName="items"
        *ngFor="let item of getControls(); let i = index;">
        <div [formGroupName]="i" class="col-sm-12">
          <td>
            <div >
            <input 
            formControlName="color"
            class="form-control" 
            [(colorPicker)]="item.color" 
            [style.background]="item.color"
            [ngStyle]="{backgroundColor: item.color, color: 'white' }" 
            [value]="item.color"
            [cpOKButton]="true"
            [cpSaveClickOutside]="true"
            [cpOKButtonClass]= "'btn btn-primary btn-xs'"
            />
            <div >
              <input type="hidden" formControlName="color_input" class="form-control" placeholder="color name" [value]="item.color">
            </div>
            </div>
          </td>
          <td>
            <div >
              <input type="text" formControlName="name" class="form-control" placeholder="color name">
            </div>
          </td>
          <td>
            <div >
              <button (click)="removeItem(i)" class="btn btn-danger" >x</button>
            </div>
          </td>
        </div>
        </tr>
        <tr>
          <td colspan="3">
            <div class="col-sm-12 data-field-col">
              <button class="btn btn-success" (click)="addItem()">Add New Color</button>
            </div>
          </td>
        </tr>
        </table>
        
        <table>
          <tr formArrayName="sizes"
          *ngFor="let size of getSizeControls(); let i = index;">
          <div [formGroupName]="i" class="col-sm-12">
            <td>
              <div >
                <input type="text" formControlName="size" class="form-control" placeholder="enter size">
              </div>
            </td>
            <td>
              <div >
                <button (click)="removeSizeItem(i)" class="btn btn-danger" >x</button>
              </div>
            </td>
          </div>
          </tr>
          <tr>
            <td colspan="3">
              <div class="col-sm-12 data-field-col">
                <button class="btn btn-warning" (click)="addSize()">Add New Size</button>
              </div>
            </td>
          </tr>
          </table>
        
        <div class="col-sm-12 data-field-col data-list-upload">
        <ngx-dropzone (change)="onSelect($event)" class="dropzone dropzone-area">
            <ngx-dropzone-label class="dz-message">Drop Image!</ngx-dropzone-label>
            <ngx-dropzone-image-preview [file]= "f" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
        </ngx-dropzone>
        </div>
      </div>
    </div>
  </div>
  
  <div class="add-data-footer d-flex justify-content-around px-3 mt-2">
    <div class="add-data-btn">
      <div *ngIf="loading" class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <button class="btn btn-primary" [disabled]="!form.valid || loading" type="button" (click)="submitData()">Add Data</button>
    </div>
    <div class="cancel-data-btn">
      <button (click)="toggleProductModal(null)" class="btn btn-outline-danger">Cancel</button>
    </div>
  </div>
</div>
</div> 
<!-- add new sidebar ends -->
</section>
<!-- Data list view end -->

    </div>
  </div>
</div>

