    <div *ngIf="isLoggedIn$ | async as isLoggedIn"><!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
          <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" >
                <div class="brand-logo"></div>
                <h2 class="brand-text mb-0">ISSASALE</h2></a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
          </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a ><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span><span class="badge badge badge-warning badge-pill float-right mr-2">2</span></a>
              <ul class="menu-content">
                <li class="active"><a routerLink="/home"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="eCommerce">eCommerce</span></a>
                </li>
              </ul>
            </li>
            <li class=" navigation-header"><span>Access</span>
            </li>
            
            <li class=" nav-item"><a><i class="feather icon-shopping-cart"></i><span class="menu-title" data-i18n="Roles">Roles</span></a>
              <ul class="menu-content">
                <li><a routerLink="/roles"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Shop">Manage Roles</span></a>
                </li>
              </ul>
            </li>
            <li class=" nav-item"><a ><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">User</span></a>
              <ul class="menu-content">
                <li><a a routerLink="/users"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List">Manage Users</span></a>
                </li>
              </ul>
            </li>
            <li class=" navigation-header"><span>E Commerce</span>
              <li class=" nav-item"><a><i class="feather icon-globe"></i><span class="menu-title" data-i18n="Roles">Brands</span></a>
              <ul class="menu-content">
                <li><a routerLink="/brands"><i class="feather icon-square"></i><span class="menu-item" data-i18n="Shop">Manage Brands</span></a>
                </li>
              </ul>
            </li>
            <li class=" nav-item"><a ><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">Products</span></a>
              <ul class="menu-content">
                <li><a a routerLink="/categories"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List">Manage Categories</span></a>
                </li>
                <li><a a routerLink="/products/colors"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List">Colors</span></a>
                </li>
                <li><a a routerLink="/products/sizes"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List">Sizes</span></a>
                </li>
                <li><a a routerLink="/products"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List">Manage Products</span></a>
                </li>
                <li><a a routerLink="/products/quantity"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List">Stock</span></a>
                </li>
              </ul>
            </li>
            <li class=" navigation-header"><span>Settings</span>
              <li class="nav-item"><a routerLink="/sliders"><i class="feather icon-globe"></i><span class="menu-title" data-i18n="Roles">Sliders</span></a>
              </li>
              <li class="nav-item"><a routerLink="/deals"><i class="feather icon-globe"></i><span class="menu-title" data-i18n="Roles">Todays Deals</span></a>
              </li>
            <li class=" nav-item"><a ><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">Products</span></a>
              <ul class="menu-content">
                <li><a a routerLink="/categories"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List">Manage Categories</span></a>
                </li>
                <li><a a routerLink="/products"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List">Manage Products</span></a>
                </li>
                <li><a a routerLink="/products/quantity"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List">Stock</span></a>
                </li>
              </ul>
            </li>
            
          </ul>
        </div>
      </div>
      <!-- END: Main Menu-->
    </div>