<!-- Quickview Modal    -->
<div class="modal fade quickview" id="quickView" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close close-absolute close-rotate" type="button" data-dismiss="modal" aria-label="Close">
          <svg class="svg-icon w-3rem h-3rem svg-icon-light align-middle">
            <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#close-1"> </use>
          </svg>
        </button>
        <div  class="modal-body quickview-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="detail-carousel">
                <div class="product-badge badge badge-primary">Sale</div>
                <div *ngIf="quickviewproduct" class="product-badge badge badge-warning">-{{quickviewproduct.product_prices[0].discount}}%</div>
                <div class="swiper-container quickview-slider" id="quickViewSlider">
                  <!-- Additional required wrapper-->
                  <div *ngIf="quickviewproduct" class="swiper-wrapper">
                    <!-- Slides-->
                    <div *ngFor="let image of quickviewproduct.product_images" class="swiper-slide"><img class="img-fluid" src="{{url + image.image_url}}" alt="Photo"></div>
                  </div>
                </div>
                <div *ngIf="quickviewproduct"class="swiper-thumbs" data-swiper="#quickViewSlider">
                  <button *ngFor="let image of quickviewproduct.product_images" class="swiper-thumb-item detail-thumb-item mb-3 active">
                    <img class="img-fluid" src="{{url + image.image_url}}" alt="Modern Jacket 0">
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 p-lg-5">
              <h2 *ngIf="quickviewproduct" class="mb-4 mt-4 mt-lg-1">{{quickviewproduct.title}}</h2>
              <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
                <ul *ngIf="quickviewproduct" class="list-inline mb-2 mb-sm-0">
                  <li class="list-inline-item h4 font-weight-light mb-0">Ksh {{((quickviewproduct.product_prices[0].price/100)*(100-quickviewproduct.product_prices[0].discount)).toFixed(2)}}</li>
                  <li class="list-inline-item text-muted font-weight-light"> 
                    <del>Ksh {{quickviewproduct.product_prices[0].price}}</del>
                  </li>
                </ul>
                <div class="d-flex align-items-center text-sm">
                  <ul class="list-inline mr-2 mb-0">
                    <li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
                    <li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
                    <li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
                    <li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
                    <li class="list-inline-item mr-0"><i class="fa fa-star text-gray-300"></i></li>
                  </ul><span class="text-muted text-uppercase">25 reviews</span>
                </div>
              </div>
              <p *ngIf="quickviewproduct" class="mb-4 text-muted">{{quickviewproduct.description}}.</p>
              <form id="buyForm_modal" action="#">
                <div class="row">
                  <div  class="col-sm-6 col-lg-12 detail-option mb-4">
                    <h6 class="detail-option-heading">Size <span>(required)</span></h6>
                    <select class="selectpicker form-control" [(ngModel)]="sizeselected" name="size" data-style="btn-selectpicker">
                      <ng-container *ngIf="quickviewproduct">
                      <option  *ngFor="let size of sizes let i = index" value="{{sizeselected}}">{{size.size}}</option>
                      </ng-container>
                    </select>
                  </div>
                  
                </div>

                <div class="sidebar-block px-3 px-lg-0"><a class="d-lg-none block-toggler" data-toggle="collapse" data-target="#colourFilterMenu" aria-expanded="false" aria-controls="colourFilterMenu">Filter by colour<span class="block-toggler-icon"></span></a>
                  <!-- Size filter menu-->
                  <div class="expand-lg collapse" id="colourFilterMenu">
                    <h5 class="sidebar-heading d-none d-lg-block">Colour </h5>
                    <div class="mt-4 mt-lg-0"> 
                      <ul class="list-inline mb-0 colours-wrapper">
                        <ng-container *ngIf="quickviewproduct">
                        <ng-container *ngFor="let color of colors  let i=index">
                        <li class="list-inline-item"  >
                          <label class="btn-colour" [class.active]="colorselected == color.id" id ="btn_colour_sidebar_{{i}}" for="colour_sidebar_{{i}}" [style.background-color]="color.color" data-allow-multiple> </label>
                          <input class="input-invisible" type="checkbox" name="colour" value="{{i}}" id="colour_sidebar_{{i}}" (change)="onCheckChange(color.id, $event.target.checked)" [checked]="color == color.id">
                        </li>
                        </ng-container>
                      </ng-container>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="input-group w-100 mb-4">
                  <input class="form-control form-control-lg detail-quantity" name="items" type="number"[(ngModel)]="quantity">
                  <div class="input-group-append flex-grow-1">
                    <button class="btn btn-dark btn-block" (click)="handleAddToCart()"> <i class="fa fa-shopping-cart mr-2"></i>Add to Cart</button>
                  </div>
                </div>
                <!-- <div class="row mb-4">
                  <div class="col-6"><a href="#"> <i class="far fa-heart mr-2"></i>Add to wishlist </a></div>
                  
                </div> -->
                <ul class="list-unstyled">
                  <li *ngIf="quickviewproduct"><strong>Category:</strong> <a class="text-muted" href="#">{{quickviewproduct.category.title}}</a></li>
                  <!-- <li><strong>Tags:</strong> <a class="text-muted" href="#">Leisure</a>, <a class="text-muted" href="#">Elegant</a></li> -->
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>