<div *ngIf = "data" class="row">
  <div class=" col-md-5">
      <div class="content">
          <div class="front">
              <div class="card border-0 box-shadow rounded-0">
                  <div class="card-body pt-3">

                      <div class="media">
                          <div class="media-body ml-3">
                              <div class="row">
                                    
                                  <div class="col-4 text-gray text-right pr-0 font-italic text-truncate">Client Name:</div>
                                  <div class="col-8 pl-2 text-truncate">{{data.name}}</div>
                                  <div class="col-4 text-gray text-right pr-0 font-italic text-truncate">Country:</div>
                                  <div class="col-8 pl-2 text-truncate">{{data.guard_name}}</div>
                                  <div class="col-4 text-gray text-right pr-0 font-italic text-truncate">Client Email:</div>
                                  <div class="col-8 pl-2 text-truncate">{{data.created_at}}</div>

                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

      </div>
  </div>

</div>