<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-left mb-0">Todays Deals List</h2>
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-2.html">Home</a>
                </li>
                <li class="breadcrumb-item"><a href="#">Data List</a>
                </li>
                <li class="breadcrumb-item active">Deals
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
        <div class="form-group breadcrum-right">
          <div class="dropdown">
            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body"><!-- Data list view starts -->
<section id="data-thumb-view" class="data-thumb-view-header">
<div class="action-btns d-none">
<div class="btn-dropdown mr-1 mb-1">
  <div class="btn-group dropdown actions-dropodown">
    <button type="button" class="btn btn-white px-1 py-1 dropdown-toggle waves-effect waves-light"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#"><i class="feather icon-trash"></i>Delete</a>
      <a class="dropdown-item" href="#"><i class="feather icon-archive"></i>Archive</a>
      <a class="dropdown-item" href="#"><i class="feather icon-file"></i>Print</a>
      <a class="dropdown-item" href="#"><i class="feather icon-save"></i>Another Action</a>
    </div>
  </div>
</div>
</div>
<!-- dataTable starts -->
<div class="table-responsive">
<table class="table data-thumb-view">
  <thead>
    <tr>
      <th></th>
      <th>Image</th>
      <th>Product</th>
      <th>Price</th>
      <th>DISCOUNT TYPE</th>
      <th>DISCOUNT</th>
      <th>DATE</th>
      <th>BACKGROUND COLOR</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let deal of today_dealsData">
      <td></td>
      <td class="product-img"><img src="{{url+deal.product_image.image_url}}" alt="Img placeholder">
      </td>
      <td class="product-name">{{deal.product.title}}</td>
      <td class="product-category">{{deal.product.product_prices[0].price}}</td>
      <td class="product-category">{{deal.discount_type_id ? deal.discount : deal.product.product_prices[0].discount }}</td>
      <td class="product-category">{{deal.discount ? deal.discount : deal.product.product_prices[0].discount }}</td>
      <td class="product-category">{{deal.date}}</td>
      <td class="product-category">
        <div class="chip" [style.background-color]="deal.background_color">
          <div class="chip-body">
            <div class="chip-text" style="color: white;">{{deal.background_color}}</div>
          </div>
        </div>
      </td>
      <td class="product-action">
        <span class="action-edit"><i class="feather icon-edit"></i></span>
        <span class="action-delete"><i class="feather icon-trash"></i></span>
      </td>
    </tr>
  </tbody>
</table>
</div>
<!-- dataTable ends -->

<!-- add new sidebar starts -->
<div class="add-new-data-sidebar">
<div class="overlay-bg"></div>
<div class="add-new-data" [formGroup]="form">
  <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
    <div>
      <h4 class="text-uppercase">New Todays Deal</h4>
    </div>
    <div class="hide-data-sidebar">
      <i class="feather icon-x"></i>
    </div>
  </div>
  <div class="data-items pb-3">
    <div class="data-fields px-2 mt-3">
      <div class="row">
        <div class="col-sm-12 data-field-col">
          <fieldset class="form-group">
            <select formControlName="product_id" class="form-control" id="basicSelect" (change)="setSelected($event.target.value)">
                <option value="">--Select Product--</option>
                <option *ngFor="let product of productsData" value="{{product.id}}">{{product.title}}</option>
            </select>
            <small class="text-danger" *ngIf="form.get('product_id').touched && form.get('product_id').hasError('required')">Required
              Field</small>
          </fieldset>
        </div>
        <div class="col-sm-12 data-field-col">
          <fieldset class="form-group">
            <select formControlName="discount_type_id" class="form-control" id="basicSelect">
                <option value="">--Select Discount Type--</option>
                <option *ngFor="let discount_type of discountTypesData" value="{{discount_type.id}}">{{discount_type.name}}</option>
            </select>
          </fieldset>
        </div>
        <div class="col-sm-12 data-field-col">
          <label for="data-price">Discount*</label>
          <input formControlName="discount" type="text" class="form-control" id="data-level">
        </div>
        <div class="col-sm-12 data-field-col">
          <label for="data-date">Date*</label>
          <input id="date" formControlName="date" type="text" class="form-control pickadate" id="data-date">
          <small class="text-danger" *ngIf="form.get('date').touched && form.get('date').hasError('required')">Required
            Field</small>
        </div>
        <div class="col-sm-12 data-field-col">
          <label for="data-price">Priority*</label>
          <input formControlName="level" type="text" class="form-control" id="data-level">
          <small class="text-danger" *ngIf="form.get('level').touched && form.get('level').hasError('level')">Required
            Field</small>
        </div>
        <div class="col-sm-6">
          <label for="data-price">Background Color*</label>
          <input [value]="color ? color : ''"
            [style.background]="color"
            [cpCancelButton]="true"
            [(colorPicker)]="color"
            [cpOKButton]="true"
            [cpSaveClickOutside]="true"
            [cpOKButtonClass]= "'btn btn-primary btn-xs'"
            class="form-control"
            />
        </div>
        
        <!-- gallery swiper start -->
        <div class="col-sm-12 data-field-col">
        <h2 for="data-price">Select image to display*</h2>
        <div class="swiper-gallery swiper-container gallery-top">
          <div class="swiper-wrapper">
            
              <div *ngFor="let product_image of product_images" class="swiper-slide" data-id="{{product_image.id}}"> <img class="img-fluid" src="{{url+ product_image.image_url}}"
                  alt="banner" data-id="{{product_image.id}}">
              </div>
            
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
          <div class="swiper-wrapper mt-25">
            <div *ngFor="let product_image of product_images" class="swiper-slide" data-id="{{product_image.id}}"> <img class="img-fluid" src="{{url+ product_image.image_url}}"
              alt="banner" data-id="{{product_image.id}}">
            </div>
          </div>
        </div>
      </div>
      
<!-- gallery swiper ends -->
      </div>
    </div>
  </div>
  
  <div class="add-data-footer d-flex justify-content-around px-3 mt-2">
    <div class="add-data-btn">
      <div *ngIf="loading" class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <!-- [disabled]="!form.valid || loading" -->
      <button class="btn btn-primary"  type="button" class="btn  btn-md btn-primary" (click)="submitData()">Add Data</button>
    </div>
    <div class="cancel-data-btn">
      <button class="btn btn-outline-danger">Cancel</button>
    </div>
  </div>
</div>
</div>
<!-- add new sidebar ends -->
</section>
<!-- Data list view end -->

    </div>
  </div>
</div>

