<template>
    <div class="card">

        <div class="card-body">
            <div v-if="show_error">
                <b-alert show
                variant="danger">
                    {{error_message}} <b>&rArr;</b>
                    <ul>
                                <li v-for="(error, i) in errors_array" :key="i">
                                    {{ error[0] }}
                                </li>
                            </ul>
                </b-alert>
            </div>
            <div v-if="show_success">
               <b-alert show
                variant="success">
                    {{success_message}} <b>&rArr;</b>
                </b-alert>
            </div>
            <div class="row">
            <div class="form-group col-sm-6">
                <label>Select Company</label>
                <b-form-select v-model="selectedCompany" :options="options.companies"></b-form-select>
            </div>
            <div class="form-group col-sm-6">
                <label>Bus name</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="name" v-model="name" placeholder="Name">
            </div>
            </div>
            <div class="row">
            <div class="form-group col-sm-6">
                <label>Description</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="name" v-model="desc" placeholder="Description">
            </div>
            <div class="col-md-6">

            </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <label>Upload bus image</label>
                    <input type="file" v-on:change="onImageChange" class="form-control mb-2 mr-sm-2">
                </div>
                <div class="col-md-3" v-if="image">
                    <img :src="image" class="img-responsive" height="70" width="90">
                </div>
            </div>
            <br>
            <hr>
            <h6 class="text-uppercase">Design your seat </h6>
            <div class="row">
            <div class="form-group col-sm-4">
                <label class="sr-only" for="row_count">Rows</label>
                <input id="row_count" type="text" class="form-control" v-model="row_count" placeholder="enter number of rows">
            </div>
                <div class="form-group col-sm-4">
                <label class="sr-only" for="cols">Columns</label>
                 <input id="cols" type="text" class="form-control" v-model="cols" placeholder="enter number of columns">
                </div>
                <div class="form-group col-sm-4">
                <button type='button' class="btn btn-info" @click="generateTable">
                    <i class="fas fa-plus-circle"></i>
                    Generate
                </button>
                </div>

            </div>
            <tr v-for="(row, k) in rows" :key="k" >
                <td v-for="(seat, i) in row.seats" :key="i" style="padding: 20px">
                    <div v-if="seat.has_seat">

                    <img style="width: 30px; height: 40px" src="/img/backend/brand/seat2.png">
                   <b-dropdown right :text="seat.seat_no">
                    <b-dropdown-item @click="removeSeat(k, i)">Remove</b-dropdown-item>
                    <b-dropdown-item @click="setVip(k, i)"><div v-if="seat.is_business">
                        Change to Economy
                        </div>
                        <div v-else>
                        Change to Business
                        </div>
                    </b-dropdown-item>
                    <!-- <b-dropdown-divider></b-dropdown-divider> -->

                   </b-dropdown>
                   </div>
                   <div v-if="!seat.has_seat" class="invisible">
                       <img style="width: 20px; height: 40px" src="/img/backend/brand/seat2.png">
                        <b-dropdown right >
                        <b-dropdown-item @click="attachSeat(k, i)">Attach Seat</b-dropdown-item>
                        <b-dropdown-item>VIP</b-dropdown-item>

                    </b-dropdown>
                   </div>
                </td>

            </tr>
            <div v-if="loading">
                <b-spinner label="Spinning"></b-spinner>
            </div>
            <div v-else>
            <a class="btn btn-success" @click="save">Save</a>
            </div>
        </div>
        <div>

  </div>
  <snackbar ref="snackbar" baseSize="100px" :wrapClass="''" :colors="null" :holdTime="3000" :multiple="true"/>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('components.UserFormAdd.vue');
            const self = this;

            self.loadCompanies(cb=>{});
        },
        data (){
            return {
                row_count : '',
                cols : '',
                rows: [],
                columns : [],
                name: '',
                nameRules: [
                    (v) => !!v || 'Name is required',
                ],
                desc : '',
                selectedCompany: '',
                companies : [],
                image: '',
                options: {
                    companies: [],
                },
                loading : false,
                error_message: '',
                show_error: false,
                success_message: '',
                show_success: false,
                errors_array : []
        }
    },
    methods: {

        generateTable(){
            const string = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
            const str_arr = string.split('')

            console.log(str_arr);
            this.rows.splice(0, this.rows.length)
            console.log(this.cols, this.row_count)
            for(var i=0; i<this.row_count ; i++){
                var seats = [];
                for(var k=0; k<this.cols ; k++){
                const seat = {
                            row_index : i,
                            col_index : k,
                            seat_no: str_arr[i].concat(k+1),
                            seat_price: '',
                            seat_class: '',
                            is_business : false,
                            has_seat : true
                        }
                    seats.push(seat)
                }
                console.log(seats)
                this.rows.push({seats : seats});
            }
        },
        removeSeat(rowindex, seatindex) {
            this.rows[rowindex].seats[seatindex].has_seat=false
        },
        attachSeat(rowindex, seatindex) {
            this.rows[rowindex].seats[seatindex].has_seat=true
        },
        setVip(rowindex, seatindex) {
            this.rows[rowindex].seats[seatindex].is_business=!this.rows[rowindex].seats[seatindex].is_business
        },

        save() {
                this.show_error=false
                this.show_success=false
                this.loading = true
                const self = this;

                let payload = {
                    name: self.name,
                    desc: self.desc,
                    row_count: self.row_count,
                    cols: self.cols,
                    name: self.name,
                    company_id: self.selectedCompany,
                    rows : self.rows,
                    image : self.image
                }
                console.log(JSON.stringify(payload))

                axios.post('/api/v1/company_buses',payload).then((response) => {
                    // reset
                    console.log(response)
                    this.loading = false
                    this.show_success=true
                    this.success_message = response.data.data.message
                    window.location.href = '/admin/companyBuses';
                }).catch( (error) => {
                    this.loading = false
                    ;
                    this.show_error=true

                    if (error.response) {
                        if (error.response.status === 422) {
                            console.log('422, logging out ...');

                        }
                       console.log(error.response.data)
                       this.error_message = error.response.data.message
                       this.errors_array = error.response.data.errors
                    } else if (error.request) {
                        console.log(error.request);
                        this.error_message = error.request
                    } else {
                        console.log('Error', error.message);
                        this.error_message = error.message
                    }
                });
            },
            loadCompanies(cb) {

                const self = this;

                let params = {
                    paginate: 'no'
                };
                axios.get('/api/v1/companies',{params: params}).then(function(response) {
                    var options = [];

                    _.each(response.data.data, row=>{
                        var option = {}
                        option.value = row.id,
                        option.text = row.name
                        options.push(option)
                    });
                    console.log(options)
                    self.options.companies = options;
                    cb();
                });
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
    }
    }
</script>
