﻿<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->

<!-- main app container -->
    <body>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
    </body>


<!-- credits -->
