<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body" [formGroup]="form">
    
    <div class="row">
      <div class="col-sm-12 data-field-col">
        <fieldset class="form-group">
          <select formControlName="product_id" class="form-control" >
              <option value="">--Select Product--</option>
              <option *ngFor="let product of productsData" value="{{product.id}}">{{product.title}}</option>
          </select>
          <small class="text-danger" *ngIf="form.get('product_id').touched && form.get('product_id').hasError('required')">Required
            Field</small>
        </fieldset>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label class="text-gray">Quantity</label>
          <input formControlName="quantity" class="form-control" type="text">
          <small class="text-danger" *ngIf="form.get('quantity').touched && form.get('quantity').hasError('required')">Required
            Field</small>
        </div>
      </div>
    </div>
  
    
  <div class="row">
  <div class="col-md-12">
  
  
    <div *ngIf="loading" class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
    <div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
      <div *ngFor="let err of errorMessages">{{err}}</div>
    </div>
  </div>
    <div class="modal-footer col-md-12">
  
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
      <button *ngIf="!formData" [disabled]="!form.valid||loading" type="button" class="btn  btn-md btn-primary" (click)="submitData()">Save Record</button>
      <button *ngIf="formData"  type="button" class="btn  btn-md btn-success" (click)="saveChanges()">Save Changes</button>
  
    </div>
    </div>