﻿    <!-- Slider main container-->
    <div class="swiper-container home-slider" style="height: 85vh; min-height: 600px;">
      <!-- Additional required wrapper-->
      <div class="swiper-wrapper">
        <!-- Slides-->
        <div *ngFor="let slider of slidersData" class="swiper-slide pt-6 bg-cover bg-cover-right" [style.background-color]="slider.background_color" [ngStyle]="{'background-image': 'url('+ url+slider.img_url +')'}">
          <div class="container-fluid px-lg-6 px-xl-7 h-100">
            <div class="row h-100 align-items-center" data-swiper-parallax="-500">
              <div class="col-lg-6">
                <p class="subtitle letter-spacing-3 mb-3 text-dark font-weight-light">{{slider.title_caption}}</p>
                <h2 class="display-1 mb-3" style="line-height: 1">{{slider.title}}</h2>
                <div class=" badge badge-warning">
                  <h3 class="display-1 mb-3" style="line-height: 1">{{slider.discount}} % off</h3>
                </div>
                <br>
                <div class="badge badge-success mt-2">
                  <h4>{{slider.date_from |date : 'mediumDate'}} - {{slider.date_to |date : 'mediumDate'}}</h4>
                </div>
                <br>
                <p class="text-muted mb-1" *ngIf="slider.title_desc && slider.title_desc !='null'">{{slider.title_desc}}</p>
                <br>
                <a class="btn btn-dark" href="#">{{slider.btn_text}}</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-nav d-none d-lg-block">
        <div class="swiper-button-prev" id="homePrev"></div>
        <div class="swiper-button-next" id="homeNext"></div>
      </div>
    </div>
    
    <!-- Shop by brand-->
    <section class="container py-lg-4 mb-4">
      <h2 class="h3 text-center pb-4">Shop by brand</h2>
      <div class="row">
        <div *ngFor="let brand of brandsData" class="col-md-3 col-sm-4 col-6">
          <a class="d-block bg-white box-shadow-sm rounded-lg py-3 py-sm-4 mb-grid-gutter" (click)="goTocategory(brand)" style="height: 150px;"><img class="d-block mx-auto" src="{{url + brand.brand_logo_url}}" style="max-height: 120px; width: 150px; vertical-align: middle;" alt="Brand"></a></div>
        
      </div>
    </section>
    
    <div class="swiper-container mb-6 deal-slider" style="height: 500px;">
    <div class="swiper-wrapper ">
    <div *ngFor="let deal of todaysDeals" class="swiper-slide pt-2 bg-cover bg-cover-right" [style.background-color]="deal.background_color">
      <div class="container">
        <div class="row" >
          <div class="col-lg-6 col-xl-6">
            <p class="subtitle mb-3 text-danger">Deals of the day</p>
            <h3 class="h1">{{deal ? deal.product.title : ""}}</h3>
            <p class="text-muted">
              <del class="mr-3">Ksh {{deal.product.product_prices[0].price}}</del><span>Ksh {{((deal.product.product_prices[0].price/100)*(100-(deal.discount ? deal.discount : deal.product.product_prices[0].discount))).toFixed(2)}}</span>
            </p>
            <p class="mb-4"><span class="badge badge-danger p-3">{{deal.discount ? deal.discount : deal.product.product_prices[0].discount}}% off</span></p>
            <div class="bg-white px-5 py-4 shadow mb-4" id="countdown">
              <div class="row justify-content-between">
                <div class="col-6 col-sm-3 text-center mb-4 mb-sm-0">
                  <h6 class="h4 mb-2 days">&nbsp;00</h6>
                  <span class="text-muted">days</span>
                </div>
                <div class="col-6 col-sm-3 text-center mb-4 mb-sm-0">
                  <h6 class="h4 mb-2 hours">&nbsp;<countdown #cd [config]="confighrs"></countdown></h6>
                  <span class="text-muted">hours</span>
                </div>
                <div class="col-6 col-sm-3 text-center">
                  <h6 class="h4 mb-2 minutes">&nbsp;<countdown #cd [config]="configmin"></countdown></h6><span class="text-muted">minutes</span>
                </div>
                <div class="col-6 col-sm-3 text-center">
                  <h6 class="h4 mb-2 seconds">&nbsp;<countdown #cd [config]="configsec"></countdown></h6><span class="text-muted">seconds</span>
                </div>
              </div>
            </div>
            <p><button class="btn btn-outline-dark" (click)="goToDeal(deal)">Shop now</button></p>
          </div>
          <div class="col-lg-6 col-xl-6">
                <div class="h-auto d-flex align-items-center justify-content-center" ><img class="img-fluid" style="height: 500px;" src="{{url + deal.product_image.image_url}}" alt="Brand 2"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="swiper-pagination"></div>
              <div class="swiper-nav d-none d-lg-block">
                <div class="swiper-button-prev" id="dealPrev"></div>
                <div class="swiper-button-next" id="dealNext"></div>
              </div>
    </div>
    
    <!-- Some theme config-->
    <script>
      var options = {
          navbarExpandPx: 992
      }
      
    </script>