<!-- Hero Section-->
<section class="hero py-6">
    <div class="container">
      <!-- Breadcrumbs -->
      <ol class="breadcrumb pl-0 ">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Checkout        </li>
      </ol>
      <!-- Hero Content-->
      <div class="hero-content">
        <h1 class="hero-heading">Checkout</h1>
        <div><p class="lead text-muted">Are you a returning customer? <a href="#" data-toggle="modal" data-target="#loginModal">Login</a>.</p></div>
      </div>
    </div>
  </section>
  <!-- Checkout-->
  <div class="container pb-6">
    <div class="row">
      <div class="col-lg-7 pr-xl-6">
        <form [formGroup]="form">
          <h5 class="mb-5">Invoice address </h5>
          <div class="row"> 
            <div class="form-group col-md-6 mb-4">
              <label class="form-label" for="fullname_invoice">Full Name</label>
              <input formControlName="name" class="form-control form-control-underlined pl-0" type="text" id="fullname_invoice">
            </div>
            <div class="form-group col-md-6 mb-4">
              <label class="form-label" for="emailaddress_invoice">Email Address</label>
              <input formControlName="email" class="form-control form-control-underlined pl-0" type="text"  id="emailaddress_invoice">
            </div>
            <div class="form-group col-md-6 mb-4">
              <label class="form-label" for="street_invoice">Street</label>
              <input formControlName="location" class="form-control form-control-underlined pl-0" type="text" id="street_invoice">
            </div>
            <div class="form-group col-md-6 mb-4">
              <label class="form-label" for="city_invoice">City</label>
              <input formControlName="city" class="form-control form-control-underlined pl-0" type="text" id="city_invoice">
            </div>
            <div class="form-group col-md-6 mb-4">
              <label class="form-label" for="phonenumber_invoice">Phone Number</label>
              <input formControlName="phone" class="form-control form-control-underlined pl-0" type="text" id="phonenumber_invoice">
            </div>
            
            <!-- /Invoice Address-->
          </div>
          <!-- Shippping Address-->
          <div class="collapse" id="shippingAddress">
            <h5 class="my-4">Shipping address </h5>
            <div class="row">
              <div class="form-group col-md-6 mb-4">
                <label class="form-label" for="street_shipping">Street</label>
                <input class="form-control form-control-underlined pl-0" type="text" name="street_shipping" id="street_shipping">
              </div>
              <div class="form-group col-md-6 mb-4">
                <label class="form-label" for="city_shipping">City</label>
                <input class="form-control form-control-underlined pl-0" type="text" name="city_shipping" id="city_shipping">
              </div>
              <div class="form-group col-md-6 mb-4">
                <label class="form-label" for="zip_shipping">ZIP</label>
                <input class="form-control form-control-underlined pl-0" type="text" name="zip_shipping" id="zip_shipping">
              </div>
              <div class="form-group col-md-6 mb-4">
                <label class="form-label" for="state_shipping">State</label>
                <input class="form-control form-control-underlined pl-0" type="text" name="state_shipping" id="state_shipping">
              </div>
              <div class="form-group col-md-6 mb-4">
                <label class="form-label" for="phonenumber_shipping">Phone Number</label>
                <input class="form-control form-control-underlined pl-0" type="text" name="phonenumber_shipping" id="phonenumber_shipping">
              </div>
            </div>
          </div>
          <!-- /Shipping Address                            -->
        </form>
      </div>
      <div class="col-lg-5">
        <h5 class="mb-5">Order Summary</h5>
        <table class="table border-bottom border-dark mb-5">
          <tr *ngFor="let product of cartItems" class="text-sm">
            <th class="py-4 font-weight-normal text-muted">{{product.title}} <span>x {{product.quantity}}</span></th>
            <td class="py-4 text-right text-muted">Ksh {{product.subtotal}}</td>
          </tr>
          <tr>
            <th class="py-4 text-uppercase font-weight-normal text-sm align-bottom">Order Subtotal </th>
            <td class="py-4 text-right text-muted">{{cartService.itemsTotal}}</td>
          </tr>
          <!-- <tr>
            <th class="py-5 border-dark" colspan="2"> 
              <div class="mb-4">Shipping and handling</div>
              <div class="form-group mb-1 ml-4">
                <div class="custom-control custom-radio">
                  <input class="custom-control-input" id="shipping0" type="radio" name="shipping" checked>
                  <label class="custom-control-label text-sm font-weight-normal" for="shipping0">Delivery Ksh 300            </label>
                </div>
              </div>
              <div class="form-group mb-1 ml-4">
                <div class="custom-control custom-radio">
                  <input class="custom-control-input" id="shipping1" type="radio" name="shipping">
                  <label class="custom-control-label text-sm font-weight-normal" for="shipping1">Branch pickup Ksh 100            </label>
                </div>
              </div>
            </th>
          </tr> -->
          <tr>
            <th class="py-4 text-uppercase font-weight-normal border-dark align-bottom">Total</th>
            <td class="py-4 text-right h3 font-weight-normal border-dark">{{cartService.itemsTotal}}</td>
          </tr>
          <tr *ngFor="let method of paymentMethodsData let i=index">
            <th class="pt-5 pb-4 border-dark" colspan="2">            
              <div class="custom-control custom-radio">
                <input class="custom-control-input" id="payment{{i}}" type="radio" name="payment" [checked]="i==0" (change)="setPaymentMethod(method.id)">
                <label class="custom-control-label text-sm font-weight-normal" for="payment{{i}}" data-toggle="collapse" [attr.data-target]="'#paymentinfo_'+i">{{method.title}}</label>
              </div>
              <div class="collapse" [class.show]="i==0" id="paymentinfo_{{i}}" data-parent="table.table">
                <div class="pt-4">
                  <p class="text-muted text-sm">Make payment</p>
                </div>
              </div>
            </th>
          </tr>
          
        </table>
        <p class="text-muted text-sm">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a href="#">privacy policy</a>.</p>
        <p class="text-muted text-sm mb-5">I have read and agree to the website <a href="#">terms and conditions</a>. * </p><button class="btn btn-dark btn-block btn-lg mb-5" (click)="submitData()" [disabled]="!form.valid||loading" style="color: white;">Place order</button>
        <!-- this should be <button type="submit"> on your site-->
      </div>
    </div>
  </div>

