<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-left mb-0">Sliders List</h2>
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-2.html">Home</a>
                </li>
                <li class="breadcrumb-item"><a href="#">Data List</a>
                </li>
                <li class="breadcrumb-item active">Sliders
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
        <div class="form-group breadcrum-right">
          <div class="dropdown">
            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body"><!-- Data list view starts -->
<section id="data-thumb-view" class="data-thumb-view-header">
<div class="action-btns d-none">
<div class="btn-dropdown mr-1 mb-1">
  <div class="btn-group dropdown actions-dropodown">
    <button type="button" class="btn btn-white px-1 py-1 dropdown-toggle waves-effect waves-light"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#"><i class="feather icon-trash"></i>Delete</a>
      <a class="dropdown-item" href="#"><i class="feather icon-archive"></i>Archive</a>
      <a class="dropdown-item" href="#"><i class="feather icon-file"></i>Print</a>
      <a class="dropdown-item" href="#"><i class="feather icon-save"></i>Another Action</a>
    </div>
  </div>
</div>
</div>
<!-- dataTable starts -->
<div class="table-responsive">
<table class="table data-thumb-view">
  <thead>
    <tr>
      <th></th>
      <th>Image</th>
      <th>SUB TITLE</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>LEVEL</th>
      <th>BUTTON TEXT</th>
      <th>BACKGROUND COLOR</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let slider of slidersData">
      <td></td>
      <td class="product-img"><img src="{{url+slider.img_url}}" alt="Img placeholder">
      </td>
      <td class="product-name">{{slider.title_caption}}</td>
      <td class="product-category">{{slider.title}}</td>
      <td class="product-category">{{slider.title_desc}}</td>
      <td class="product-category">{{slider.level}}</td>
      <td class="product-category">{{slider.btn_text}}</td>
      <td class="product-category">
        <div class="chip" [style.background-color]="slider.background_color">
          <div class="chip-body">
            <div class="chip-text" style="color: white;">{{slider.background_color}}</div>
          </div>
        </div>
      </td>
      <td class="product-action">
        <span class="action-edit" (click)="toggleEdit(slider)"><i class="feather icon-edit"></i></span>
        <span class="action-delete"><i class="feather icon-trash"></i></span>
      </td>
    </tr>
  </tbody>
</table>
</div>
<!-- dataTable ends -->

<!-- add new sidebar starts -->
<div class="add-new-data-sidebar">
<div class="overlay-bg" [ngClass]="{'show': showsidepanel}" (click)="toggleSliderModal(null)"></div>
<div class="add-new-data" [formGroup]="form">
  <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
    <div>
      <h4 *ngIf="!edit" class="text-uppercase">New Product</h4>
      <h4 *ngIf="edit" class="text-uppercase">Edit Slider</h4>
    </div>
    <div class="hide-data-sidebar" (click)="toggleSliderModal(null)">
      <i class="feather icon-x"></i>
    </div>
  </div>
  <div class="data-items pb-3">
    <div class="data-fields px-2 mt-3">
      <div class="row">
        <div class="col-sm-12 data-field-col">
          <label for="data-name">Sub title*</label>
          <input formControlName="title_caption" type="text" class="form-control" >
          <small class="text-danger" *ngIf="form.get('title_caption').touched && form.get('title_caption').hasError('required')">Required
            Field</small>
        </div>
        <div class="col-sm-12 data-field-col">
          <label for="data-name">Title*</label>
          <input formControlName="title" type="text" class="form-control" >
          <small class="text-danger" *ngIf="form.get('title').touched && form.get('title').hasError('required')">Required
            Field</small>
        </div>
        <div class="col-sm-12 data-field-col">
          <label for="data-name">Description</label>
          <input formControlName="title_desc" type="text" class="form-control" >
        </div>
        <div class="col-sm-12 data-field-col">
          <label for="data-name">Button Text</label>
          <input formControlName="btn_text" type="text" class="form-control" >
        </div>
        <div class="col-sm-12 data-field-col">
          <label for="data-date">From*</label>
          <input id="date" formControlName="date_from" type="text" class="form-control pickadate" id="data-date-from">
          
        </div>
        <div class="col-sm-12 data-field-col">
          <label for="data-date">To*</label>
          <input id="date" formControlName="date_to" type="text" class="form-control pickadate" id="data-date-to">
        </div>
        <div class="col-sm-12 data-field-col">
          <label for="data-name">Discount</label>
          <input formControlName="discount" type="text" class="form-control" >
        </div>
        <div class="col-sm-12 data-field-col">
          <label for="data-price">Priority*</label>
          <input formControlName="level" type="text" class="form-control" >
          <small class="text-danger" *ngIf="form.get('level').touched && form.get('level').hasError('level')">Required
            Field</small>
        </div>
        <div class="col-sm-6">
          <label for="data-price">Background Color*</label>
          <input [value]="color ? color : ''"
            [style.background]="color"
            [cpCancelButton]="true"
            [(colorPicker)]="color"
            [cpOKButton]="true"
            [cpSaveClickOutside]="true"
            [cpOKButtonClass]= "'btn btn-primary btn-xs'"
            class="form-control"
            />
        </div>
        <div *ngIf="edit" class="col-sm-12 data-field-col">
          <swiper [config]="config">
            <div class="swiper-slide">
              <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                 <img class="img-fluid" src="{{url+edit_slider.img_url}}"
                  alt="banner">
              
              </div>
            </div>
          </swiper>
          </div>
        <div class="col-sm-12 data-field-col data-list-upload">
        <ngx-dropzone (change)="onSelect($event)" class="dropzone dropzone-area">
            <ngx-dropzone-label class="dz-message">Drop Image!</ngx-dropzone-label>
            <ngx-dropzone-image-preview [file]= "f" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
        </div>
      </div>
    </div>
  </div>
  
  <div class="add-data-footer d-flex justify-content-around px-3 mt-2">
    <div class="add-data-btn">
      <div *ngIf="loading" class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div *ngIf="edit">
        <button class="btn btn-primary" [disabled]="!form.valid || loading"  type="button" (click)="saveData(edit_slider.id)">Update Data</button>
        </div>
        <div>
          <!-- [disabled]="!form.valid || loading" -->
        <button *ngIf="!edit"  [disabled]="!form.valid || loading" class="btn btn-primary" type="button" (click)="submitData()">Add Data</button>
        </div>
    </div>
    <div class="cancel-data-btn">
      <button class="btn btn-outline-danger">Cancel</button>
    </div>
  </div>
</div>
</div>
<!-- add new sidebar ends -->
</section>
<!-- Data list view end -->

    </div>
  </div>
</div>

