
<!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
          <div class="content-header row">
          </div>
          <div class="content-body"><!-- users list start -->
  <section class="users-list-wrapper">
    <!-- users filter start -->
    <!-- users filter start -->
  <!-- users filter start -->
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Roles</h4>
      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
      <div class="heading-elements">
        <ul class="list-inline mb-0">
          
        </ul>
      </div>
    </div>
    <div class="card-content collapse show">
      <div class="card-body">
        <div class="users-list-filter">
          <form>
            <div class="row float-right">
              <span  (click)="openModal(null)" >
                <button type="button" class="btn btn-success mr-1 mb-1">Add Role</button>
            </span>
           
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    <!-- users filter end -->
    <!-- Ag Grid users list section start -->
    <div id="basic-examples">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
           
            <div class="table-responsive table-striped">
              <ng2-smart-table class="table table-hover" [settings]="settings" [source]="dataSet"
                  (custom)="onCustomAction($event)">
              </ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ag Grid users list section end -->
  </section>
  <!-- users list ends -->
  
          </div>
        </div>
      </div>
      <!-- END: Content-->