<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [formGroup]="form">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label class="text-gray">Name</label>
        <input formControlName="name" class="form-control" type="text">
        <small class="text-danger" *ngIf="form.get('name').touched && form.get('name').hasError('required')">Required
          Field</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 offset-1">
      <div formArrayName="permissions" *ngFor="let permission of permissionsFromArray.controls; let i = index" class="mr-2 mb-1 form-group custom-control custom-switch row">
        <input [formControlName]="i" type="checkbox" class="form-control custom-control-input" id="customSwitch{{i}}">
        <label class="custom-control-label" for="customSwitch{{i}}">
        </label>
        <span class="switch-label">{{permissionsData[i].name}}</span>
      </div>
      <div class="alert-danger col-sm-8" *ngIf="form.get('permissions').touched && !form.valid">At least one permission must be selected</div>
    </div>
  </div>
  
<div class="row">
<div class="col-md-12">


  <div *ngIf="loading" class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
      aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
  </div>
  <div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
    <div *ngFor="let err of errorMessages">{{err}}</div>
  </div>
</div>
  <div class="modal-footer col-md-12">

    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    <button *ngIf="!formData" [disabled]="!form.valid" type="button" class="btn  btn-md btn-primary" (click)="submitData()">Save Record</button>
    <button *ngIf="formData"  type="button" class="btn  btn-md btn-success" (click)="saveChanges()">Save Changes</button>

  </div>
  </div>