<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-left mb-0">Products List</h2>
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-2.html">Home</a>
                </li>
                <li class="breadcrumb-item"><a >Data List</a>
                </li>
                <li class="breadcrumb-item active">Products
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
        <div class="form-group breadcrum-right">
          <div class="dropdown">
            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body"><!-- Data list view starts -->
<section id="data-thumb-view" class="data-thumb-view-header">
<div class="action-btns d-none">
<div class="btn-dropdown mr-1 mb-1">
  <div class="btn-group dropdown actions-dropodown">
    <button type="button" class="btn btn-white px-1 py-1 dropdown-toggle waves-effect waves-light"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#"><i class="feather icon-trash"></i>Delete</a>
      <a class="dropdown-item" href="#"><i class="feather icon-archive"></i>Archive</a>
      <a class="dropdown-item" href="#"><i class="feather icon-file"></i>Print</a>
      <a class="dropdown-item" href="#"><i class="feather icon-save"></i>Another Action</a>
    </div>
  </div>
</div>
</div>
<!-- dataTable starts -->
<div class="table-responsive">
<table class="table data-thumb-view">
  <thead>
    <tr>
      <th></th>
      <th>Image</th>
      <th>NAME</th>
      <th>CATEGORY</th>
      <th>DESCRIPTION</th>
      <th>PRICES</th>
      <th>COLORS</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productsData">
      <td></td>
      <td class="product-img">
        <img *ngIf="product.product_images.length" src="{{url+ product.product_images[0].image_url}}" alt="Product Image">
      </td>
      <td class="product-name">{{product.title}}</td>
      <td class="product-name">{{product.category ? product.category.title : ""}}</td>
      <td class="product-category">{{product.description | slice:0:100}}...</td>
      <td class="product-category">
        <div *ngFor="let price of product.product_prices">
          {{price.price}}
        </div>
      </td>
      <td class="product-category">
        {{product.colors}}
        <div *ngFor="let color of product.product_colors" class="chip" [style.background-color]="color.color.color">
          <div class="chip-body">
            <div class="chip-text" style="color: white;">{{color.size.size}}</div>
          </div>
        </div>
      </td>
      <td class="product-action">
        <span class="action-edit" (click)="toggleEdit(product)"><i class="feather icon-edit"></i></span>
        <span class="action-delete" (click)="onDeleteConfirm(product.id)"><i class="feather icon-trash"></i></span>
      </td>
    </tr>
  </tbody>
</table>
</div>
<!-- dataTable ends -->

<!-- add new sidebar starts -->
<div class="add-new-data-sidebar">
  <div class="overlay-bg" [ngClass]="{'show': showsidepanel}" (click)="toggleProductModal(null)"></div>
  <div class="add-new-data" [formGroup]="form" [ngClass]="{'show': showsidepanel}">
    <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
      <div>
        <h4 *ngIf="!edit" class="text-uppercase">New Product</h4>
        <h4 *ngIf="edit" class="text-uppercase">Edit Product {{edit_product.title}}</h4>
      </div>
      <div class="hide-data-sidebar" (click)="toggleProductModal(null)">
        <i class="feather icon-x"></i>
      </div>
    </div>
    <div class="data-items pb-3">
      <div class="data-fields px-2 mt-3">
        <div class="row">
          <div class="col-sm-12 data-field-col">
            <label for="data-name">Product Title*</label>
            <input formControlName="title" type="text" class="form-control" >
            <small class="text-danger" *ngIf="form.get('title').touched && form.get('title').hasError('required')">Required
              Field</small>
          </div>
          <div class="col-sm-12 data-field-col">
            <label for="data-name">Product Code</label>
            <input formControlName="code" type="text" class="form-control">
          </div>
          <div class="col-sm-12 data-field-col">
            <label for="data-name">Brand*</label>
            <fieldset class="form-group">
              <select formControlName="brand_id" class="form-control" >
                  <option value="">--Select Brand--</option>
                  <option *ngFor="let brand of brands" value="{{brand.id}}">{{brand.name}}</option>
              </select>
              <small class="text-danger" *ngIf="form.get('brand_id').touched && form.get('brand_id').hasError('required')">Required
                Field</small>
            </fieldset>
          </div>
          <div class="col-sm-12 data-field-col">
            <label for="data-name">Category*</label>
            <fieldset class="form-group">
              <select formControlName="category_id" class="form-control" >
                  <option value="">--Select Category--</option>
                  <option *ngFor="let category of categories" value="{{category.id}}">{{category.title}}</option>
              </select>
              <small class="text-danger" *ngIf="form.get('category_id').touched && form.get('category_id').hasError('required')">Required
                Field</small>
            </fieldset>
          </div>
          <div class="col-sm-12 data-field-col">
            <label for="data-name">Description*</label>
            <textarea formControlName="description" type="text" class="form-control" >
            </textarea>
            <small class="text-danger" *ngIf="form.get('title').touched && form.get('title').hasError('required')">Required
              Field</small>
          </div>
          <div class="col-sm-12 data-field-col">
            <label for="data-name">Price*</label>
            <input formControlName="price" type="text" class="form-control" >
            <small class="text-danger" *ngIf="form.get('price').touched && form.get('price').hasError('required')">Required
              Field</small>
          </div>
          <div class="col-sm-12 data-field-col">
            <label for="data-name">Discount Type*</label>
            <fieldset class="form-group">
              <select formControlName="discount_type_id" class="form-control" >
                  <option value="">--Select Discount Type--</option>
                  <option *ngFor="let discount_type of discount_types" value="{{discount_type.id}}">{{discount_type.name}}</option>
              </select>
            </fieldset>
            </div>
          <div class="col-sm-12 data-field-col">
            <label for="data-name">Discount</label>
            <input formControlName="discount" type="text" class="form-control" >
          </div>
          <div class="col-sm-12 data-field-col">
            <div class="custom-control custom-switch custom-switch-dark mb-1">
              <p class="mb-0">taxable</p>
              <input type="checkbox" formControlName="taxable" class="custom-control-input" id="customSwitch8">
              <label class="custom-control-label" for="customSwitch8"></label>
            </div>
          </div>
          <div class="col-sm-12 data-field-col">
            
            <table class="table table-stripped table-bordered" class="col-sm-12 data-field-col">
              <tr>
                <th>Color</th>
                <th>Size</th>
                <th>Available</th>
              </tr>
              <ng-template ngFor let-color [ngForOf]="colorsData" >
              <tr
              *ngFor="let size of sizesData; let i = index;" >
                <td  >
                  <div class="badge badge-primary" [ngStyle]="{'background-color': color.color}">{{color.name}}</div>
                </td>
                <td>
                  {{size.size}}
                </td>
                <td>
                  <div class="custom-control custom-switch custom-switch-dark mb-1">
                    <p class="mb-0">available</p>
                    <input type="checkbox" name="available[{{color.id}}][{{size.id}}]" class="custom-control-input" id="available{{color.id+''+size.id}}" (change)="checkValue($event, color, size)" >
                    <label class="custom-control-label" for="available{{color.id+''+size.id}}"></label>
                  </div>
                </td>
              </tr>
            </ng-template>
            </table>
         
          </div>
          
          
          <div *ngIf="edit" class="col-sm-12 data-field-col">
          <swiper [config]="config">
            <div *ngFor="let image of displayed_images;  let i = index;" class="swiper-slide" id="swipe_{{i}}">
              <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                 <img (click)="deleteImage(image.id, i)" class="img-fluid" src="{{url+image.image_url}}"
                  alt="banner">
              
              </div>
            </div>
          </swiper>
          </div>

          <div class="col-sm-12 data-field-col data-list-upload">
          <ngx-dropzone (change)="onSelect($event)" class="dropzone dropzone-area">
              <ngx-dropzone-label class="dz-message">Drop Image!</ngx-dropzone-label>
              <ngx-dropzone-image-preview [file]= "f" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
          </ngx-dropzone>
          </div>
        </div>
      </div>
    </div>
    
    <div class="add-data-footer d-flex justify-content-around px-3 mt-2">
      <div class="add-data-btn">
        <div *ngIf="loading" class="spinner-grow text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div *ngIf="edit">
        <button class="btn btn-primary" [disabled]="!form.valid || loading"  type="button" (click)="saveData(edit_product.id)">Update Data</button>
        </div>
        <div>
          <!-- [disabled]="!form.valid || loading" -->
        <button *ngIf="!edit"  [disabled]="!form.valid || loading" class="btn btn-primary" type="button" (click)="submitData()">Add Data</button>
        </div>
      </div>
      <div class="cancel-data-btn">
        <button (click)="toggleProductModal(null)"  class="btn btn-outline-danger">Cancel</button>
      </div>
    </div>
  </div>
  </div> 
  <!-- add new sidebar ends -->

  
</section>
<!-- Data list view end -->

    </div>
  </div>
</div>

