<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-left mb-0">Sizes List</h2>
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index-2.html">Home</a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Data List</a>
                  </li>
                  <li class="breadcrumb-item active">Sizes
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
          <div class="form-group breadcrum-right">
            <div class="dropdown">
              <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
              <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body"><!-- Data list view starts -->
  <section id="data-thumb-view" class="data-thumb-view-header">
  <div class="action-btns d-none">
  <div class="btn-dropdown mr-1 mb-1">
    <div class="btn-group dropdown actions-dropodown">
      <button type="button" class="btn btn-white px-1 py-1 dropdown-toggle waves-effect waves-light"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#"><i class="feather icon-trash"></i>Delete</a>
        <a class="dropdown-item" href="#"><i class="feather icon-archive"></i>Archive</a>
        <a class="dropdown-item" href="#"><i class="feather icon-file"></i>Print</a>
        <a class="dropdown-item" href="#"><i class="feather icon-save"></i>Another Action</a>
      </div>
    </div>
  </div>
  </div>
  <!-- dataTable starts -->
  <div class="table-responsive">
  <table class="table data-thumb-view">
    <thead>
      <tr>
        <th></th>
        <th>NAME</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let size of sizesData">
        <td></td>
        <td class="product-name">{{size.size}}</td>
        <td class="product-action">
          <span class="action-edit"><i class="feather icon-edit"></i></span>
          <span class="action-delete"><i class="feather icon-trash"></i></span>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <!-- dataTable ends -->
  
  <!-- add new sidebar starts -->
  <div class="add-new-data-sidebar">
  <div class="overlay-bg"></div>
  <div class="add-new-data" [formGroup]="form">
    <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
      <div>
        <h4 class="text-uppercase">New Size</h4>
      </div>
      <div class="hide-data-sidebar">
        <i class="feather icon-x"></i>
      </div>
    </div>
    <div class="data-items pb-3">
      <div class="data-fields px-2 mt-3">
        <div class="row">
          <div class="col-sm-12 data-field-col">
            <table>
                <tr formArrayName="sizes"
                *ngFor="let size of getSizeControls(); let i = index;">
                <div [formGroupName]="i" class="col-sm-12">
                  <td>
                    <div >
                      <input type="text" formControlName="size" class="form-control" placeholder="enter size">
                    </div>
                  </td>
                  <td>
                    <div >
                      <button (click)="removeSizeItem(i)" class="btn btn-danger" >x</button>
                    </div>
                  </td>
                </div>
                </tr>
                <tr>
                  <td colspan="3">
                    <div class="col-sm-12 data-field-col">
                      <button class="btn btn-warning" (click)="addSize()">Add New Size</button>
                    </div>
                  </td>
                </tr>
                </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="add-data-footer d-flex justify-content-around px-3 mt-2">
      <div class="add-data-btn">
        <div *ngIf="loading" class="spinner-grow text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <button class="btn btn-primary" [disabled]="!form.valid || loading" type="button" class="btn  btn-md btn-primary" (click)="submitData()">Add Data</button>
      </div>
      <div class="cancel-data-btn">
        <button class="btn btn-outline-danger">Cancel</button>
      </div>
    </div>
  </div>
  </div>
  <!-- add new sidebar ends -->
  </section>
  <!-- Data list view end -->
  
      </div>
    </div>
  </div>
  
  