<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [formGroup]="form">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label class="text-gray">Category Name</label>
          <input formControlName="title" class="form-control" type="text">
          <small class="text-danger" *ngIf="form.get('title').touched && form.get('title').hasError('required')">Required
            Field</small>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label class="text-gray">Category Caption</label>
          <input formControlName="caption" class="form-control" type="text">
          <small class="text-danger" *ngIf="form.get('caption').touched && form.get('caption').hasError('required')">Required
            Field</small>
        </div>
      </div>
    </div>
    <div class="col-sm-12 data-field-col data-list-upload">
      <ngx-dropzone (change)="onSelect($event)" class="dropzone dropzone-area">
          <ngx-dropzone-label class="dz-message">Drop Image!</ngx-dropzone-label>
          <ngx-dropzone-image-preview [file]= "f" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
      </ngx-dropzone>
      </div>
    
  <div class="row">
  <div class="col-md-12">
  
  
    <div *ngIf="loading" class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
    <div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
      <div *ngFor="let err of errorMessages">{{err}}</div>
    </div>
  </div>
    <div class="modal-footer col-md-12">
  
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
      <button *ngIf="!formData" [disabled]="!form.valid" type="button" class="btn  btn-md btn-primary" (click)="submitData()">Save Record</button>
      <button *ngIf="formData"  type="button" class="btn  btn-md btn-success" (click)="saveChanges()">Save Changes</button>
  
    </div>
    </div>