<!-- navbar-->
<header [ngClass]="className"> 
  <!-- Top Bar-->
  <div class="top-bar text-sm bg-transparent">
    <div class="container-fluid px-lg-5 py-3">
      <div class="row align-items-center">
        <div class="col-md-4 d-none d-md-block">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-2"><a class="text-reset text-hover-primary" href="#"><i class="fab fa-facebook-f"> </i></a></li>
            <li class="list-inline-item mr-4"><a class="text-reset text-hover-primary" href="#"><i class="fab fa-twitter"> </i></a></li>
            <li class="list-inline-item mr-2">
              <svg class="svg-icon mr-2">
                <use xlink:href="#calls-1"> </use>
              </svg>020-800-456-747
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-4 text-left text-md-center">
          <p class="mb-0">Free in-store delivery</p>
        </div>
        <div class="col-sm-6 col-md-4 d-none d-sm-flex justify-content-end">
          <!-- Language Dropdown-->
          <div class="dropdown border-right px-3"><a class="dropdown-toggle topbar-link" id="langsDropdown" href="#" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">English</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="langsDropdown"><a class="dropdown-item" href="#">German</a><a class="dropdown-item" href="#">French</a></div>
          </div>
          <!-- Currency Dropdown-->
          <div class="dropdown pl-3 ml-0"><a class="dropdown-toggle topbar-link" id="currencyDropdown" href="#" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">USD</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="currencyDropdown"><a class="dropdown-item" href="#">EUR</a><a class="dropdown-item" href="#"> GBP</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar End-->
  <nav class="navbar navbar-expand-lg bg-transparent border-0 shadow-0 navbar-light px-lg-5 "><a class="navbar-brand" >issaSALE</a>
    <ul class="list-inline mb-0 d-block d-lg-none">
      <li class="list-inline-item mr-3"><a class="text-dark text-hover-primary" href="#" data-toggle="modal" data-target="#loginModal">
          <svg class="svg-icon navbar-icon">
            <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#avatar-1"> </use>
          </svg></a></li>
      <!-- <li class="list-inline-item mr-3"><a class="text-dark text-hover-primary position-relative" href="wishlist.html">
          <svg class="svg-icon navbar-icon">
            <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#heart-1"> </use>
          </svg>
          <div class="navbar-icon-badge">3</div></a></li> -->
      <li class="list-inline-item position-relative mr-3"><a class="text-dark text-hover-primary" href="#" data-toggle="modal" data-target="#sidebarCart">
          <svg class="svg-icon navbar-icon">
            <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#retail-bag-1"> </use>
          </svg>
          <div class="navbar-icon-badge">{{cartItems.length}}</div></a></li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <svg class="svg-icon navbar-icon">
        <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#menu-hamburger-1"> </use>
      </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      
      <form class="d-lg-flex ml-auto mr-lg-5 mr-xl-6 my-4 my-lg-0" action="#">
        <div class="input-group input-group-underlined">
          <input class="form-control form-control-underlined pl-3" type="text" placeholder="Search" aria-label="Search" aria-describedby="button-search">
          <div class="input-group-append ml-0">
            <button class="btn btn-underlined py-0" id="button-search" type="button"> 
              <svg class="svg-icon navbar-icon">
                <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#search-1"> </use>
              </svg>
            </button>
          </div>
        </div>
      </form>
      <ul class="list-inline mb-0 d-none d-lg-block">
        <li class="list-inline-item mr-3"><a class="text-dark text-hover-primary" href="#" data-toggle="modal" data-target="#loginModal">
            <svg class="svg-icon navbar-icon">
              <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#avatar-1"> </use>
            </svg></a></li>
        <!-- <li class="list-inline-item mr-3"><a class="text-dark text-hover-primary position-relative" href="wishlist.html">
            <svg class="svg-icon navbar-icon">
              <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#heart-1"> </use>
            </svg>
            <div class="navbar-icon-badge">3</div></a></li> -->
        <li class="list-inline-item position-relative mr-3"><a class="text-dark text-hover-primary"  data-toggle="modal" data-target="#sidebarCart">
            <svg class="svg-icon navbar-icon">
              <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#retail-bag-1"> </use>
            </svg>
            <div class="navbar-icon-badge">{{cartItems.length}}</div></a></li>
        <li class="list-inline-item"><a class="text-dark text-hover-primary" href="#" data-toggle="modal" data-target="#sidebarRight">
            <svg class="svg-icon navbar-icon">
              <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#menu-hamburger-1"> </use>
            </svg></a></li>
      </ul>
    </div>
  </nav>
</header>
<!-- Sidebar Cart Modal-->
<div class="modal fade modal-right" id="sidebarCart" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content sidebar-cart-content">
      <div class="modal-header border-0">
        <button class="close modal-close close-rotate" type="button" data-dismiss="modal" aria-label="Close">
          <svg class="svg-icon w-3rem h-3rem svg-icon-light align-middle">
            <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#close-1"> </use>
          </svg>
        </button>
      </div>
      <div class="modal-body px-5 sidebar-cart-body">
        <!-- Empty cart snippet-->
        <!-- In case of empty cart - display this snippet + remove .d-none-->
        <div *ngIf="cartItems.length==0" class="text-center mb-5">
          <svg class="svg-icon w-3rem h-3rem svg-icon-light mb-4 text-muted">
            <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#retail-bag-1"> </use>
          </svg>
          <p>Your cart is empty </p>
        </div>
        <!-- Empty cart snippet end-->
        <div class="sidebar-cart-product-wrapper custom-scrollbar">
          <!-- cart item-->
          <div *ngFor="let product of cartItems let i = index" class="navbar-cart-product"> 
            <div class="d-flex align-items-center"><a (click)="setDetailProduct(product)"><img class="img-fluid navbar-cart-product-image" src="{{url + product.product_images[0].image_url}}" alt="..."/></a>
              <div class="w-100"><a class="close" (click)="cartService.removeItem(i)">
                  <svg class="svg-icon sidebar-cart-icon">
                    <use xlink:href="assets/1-1/icons/orion-svg-sprite.svg#close-1"> </use>
                  </svg></a>
                <div class="pl-3"> <a class="navbar-cart-product-link text-dark link-animated" (click)="setDetailProduct(product)">{{product.title}}</a><small class="d-block text-muted">Quantity: {{product.quantity}} </small><strong class="d-block text-sm">Ksh {{((product.product_prices[0].price/100)*(100-product.product_prices[0].discount)).toFixed(2)}}</strong></div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="modal-footer sidebar-cart-footer shadow">
        <div class="w-100">
          <h5 class="mb-4">Subtotal: <span class="float-right">{{cartService.itemsTotal}}</span></h5><a class="btn btn-outline-dark btn-block mb-3" (click)="hideCart()" routerLink="/cart" data-toggle="modal">View cart</a><a class="btn btn-dark btn-block" routerLink="/checkout" (click)="hideCart()">Checkout</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sidebar Modal Right-->
<div class="modal fade modal-right" id="sidebarRight" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button class="close close-rotate" type="button" data-dismiss="modal" aria-label="Close">
          <svg class="svg-icon w-3rem h-3rem svg-icon-light align-middle">
            <use xlink:href="#close-1"> </use>
          </svg>
        </button>
      </div>
      <div class="modal-body px-5 pb-5">
        <div>
          <h5 class="mb-5" data-aos="zoom-in" data-aos-delay="50">Categories</h5>
          <ul *ngIf="categoriesData" class="nav flex-column mb-5">
            <li *ngFor="let category of categoriesData.children let i=index" class="nav-item"><a class="nav-link pl-0" [routerLink]="['/category/category/id', category.cat_id]">{{category.label}} </a></li>
            
            <!-- <li class="nav-item dropdown"><a class="nav-link pl-0 dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-target="#sidebarSubmenu" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">Dropdown link</a>
              <div class="collapse" id="sidebarSubmenu">
                <ul class="nav flex-column ml-3">
                  <li class="nav-item"><a class="nav-link pl-0" href="#">Action</a></li>
                  <li class="nav-item"><a class="nav-link pl-0" href="#">Another action</a></li>
                  <li class="nav-item"><a class="nav-link pl-0" href="#">Something else here                </a></li>
                </ul>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-login></app-login>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>